@font-face {
    font-family: "Berton";
    src: url("../fonts/Berton-Regular.otf") format("OpenType");
    font-weight: 400;
}

@font-face {
    font-family: "Vrinda";
    src: url("../fonts/Vrinda-Regular.ttf") format("TrueType");
    font-weight: 400;
}

:root {
    --header-offset: -100px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "poppins";
    overflow-x: hidden;
    left: 1.33;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

svg,
img {
    max-width: 100%;
    vertical-align: middle;
}

img,
svg {
    vertical-align: middle;
}

button {
    border: none;
}

input:focus,
input {
    outline: none;
    box-shadow: none;
}

h1,
h2 {
    font-family: "Berton";
    line-height: 1.33;
    font-weight: 400;
}

h1 {
    font-size: 80px;
    @include max-width(1024) {
        font-size: 68px;
    }

    @include max-width(992px) {
        font-size: 48px;
    }

    @include max-width(768px) {
        font-size: 42px;
    }
    @include max-width(575px) {
        font-size: 36px;
    }
}

h2 {
    font-size: 60px;

    @include max-width(992px) {
        font-size: 38px;
    }

    @include max-width(768px) {
        font-size: 32px;
    }
}

h4 {
    font-size: 28px;

    @include max-width(991px) {
        font-size: 24px;
    }

    @include max-width(767px) {
        font-size: 18px;
    }
}

h5 {
    font-size: 24px;

    @include max-width(992px) {
        font-size: 20px;
    }

    @include max-width(768px) {
        font-size: 16px;
    }
}

p {
    font-size: 20px;
    @include max-width(992px) {
        font-size: 18px;
    }

    @include max-width(768px) {
        font-size: 15px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    padding: 0;
    margin: 0;
}

@keyframes path-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.svg-group {
    position: relative;
    display: inline-block;

    .svg-alt {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.rotate-infinite {
    transform-origin: center;
    animation: path-rotate 7s infinite linear;
    display: inline-block;
}
