@font-face {
    font-family: "Berton";
    src: url("../fonts/Berton-Regular.otf") format("OpenType");
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "poppins";
    overflow-x: hidden;
    left: 1.33;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

img,
svg {
    vertical-align: middle;
}

button {
    border: none;
}
input:focus,
input{
    outline: none;
    box-shadow: none;
}
h1,
h2 {
    font-family: "Berton";
    line-height: 1.33;
    font-weight: 400;
}
h1 {
    font-size: 80px;
    @include max-width(1024px){
        font-size: 52px;
    }
    @include max-width(992px){
        font-size: 42px;
    }
    @include max-width(768px){
        font-size: 36px;
    }

}

h2 {
    font-size: 60px;

    @include max-width(1024px){
        font-size: 48px;
    }
    @include max-width(992px){
        font-size: 38px;
    }
    @include max-width(768px){
        font-size: 32px;
    }
}

h4 {
    font-size: 28px;

    @include max-width(1024px){
        font-size: 24px;
    }
    @include max-width(992px){
        font-size: 18px;
    }
    @include max-width(768px){
        font-size: 14px;
    }
}

h5 {
    font-size: 24px;

    @include max-width(1024px){
        font-size: 20px;
    }
    @include max-width(992px){
        font-size: 17px;
    }
    @include max-width(768px){
        font-size: 13px;
    }
}

p {
    font-size: 20px;
}
h1,h2,h3,h4,h5,h6,p,ul,li{
    padding: 0;
    margin: 0;
}