.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}

.flex-center-spaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: clamp(320px, 92%, 1730px);
    padding: 0 10px;
    margin: 0 auto;
    @include max-width(575px){
        max-width: 100%;
    }
}

.container-alt {
    max-width: clamp(320px, 92%, 1658px);
    padding: 0 10px;
    margin: 0 auto !important;
    @include max-width(575px){
        max-width: 100%;
    }
}

.title-primary {
    font-size: 62px;
    text-transform: uppercase;
    position: relative;
    color: $secondary-color-03;

    @include max-width(1024px){
        font-size: 68px;
    }
    @include max-width(992px){
        font-size: 42px;
    }
    @include max-width(768px){
        font-size: 32px;
    }
    @include max-width(575px){
        font-size: 28px;
    }
}

.title-secondary {
    font-size: 60px;
    font-family: "poppins";
    font-weight: 200;
    display: block;
    color: $secondary-color-03;
    @include max-width(1024px){
        font-size: 66px;
    }
    @include max-width(992px) {
        font-size: 40px;
    }

    @include max-width(768px) {
        font-size:30px;
    }
    @include max-width(768px) {
        font-size:27px;
    }
}
.title__main{
    font-family: "Berton";
    font-size: 34px;
    font-weight: 400;
    line-height: 1.35;

    @include max-width(1024px){
        font-size: 53px;
    }
    @include max-width(992px){
        font-size: 24px;
    }
    @include max-width(768px){
        font-size: 20px;
    }
}
.title__sub{
    font-weight: 300;
    margin-bottom: 22px;
    @include max-width(1024px){
        font-size: 44px;
    }
    @include max-width(992px) {
        font-size: 24px;
    }

    @include max-width(768px) {
        font-size: 17px;
    }
}
.dsc {
    //
    font-size: 27px;
    //
    line-height: 1.33;
    font-weight: 300;
    text-transform: capitalize;
    position: relative;
    @include max-width(1024px){
        font-size: 42px;
    }
    @include max-width(992px) {
        font-size: 20px;
    }

    @include max-width(768px) {
        font-size: 16px;
    }
    @include max-width(768px) {
        font-size: 13px;
    }
}
.more-link{
    line-height: 1.32;
    font-weight: 300;
    font-size: 28px;
    font-style: italic;
    text-decoration: underline;
    @include max-width(1024px){
        font-size: 36px;
    }
    @include max-width(992px) {
        font-size: 22px;
    }

    @include max-width(768px) {
        font-size: 15px;
    }
}
.slice{
    position: absolute;
    background-color: $primary-color-02;
    z-index: -1;
}
.portrait{
    height: 200%;
    width: 65px;
    bottom: -15px;
}
.landscape{
    height: 30%;
    width: 20%;
    top: -15px;
}

.inner-wrapper{
    width: clamp(320px, 80%, 1520px);
    padding: 0 10px;
    margin: 0 auto;
}




//  contact form start

.input-name,
.input-email{
    width: 100%;
    padding: 15px 30px;
    border-radius: 10px;
    border: 1px solid $secondary-color-06;
    margin-bottom: 45px;
    font-family: "montserrat";
    &::placeholder{
        color: $secondary-color-06;
    }
}
.input-name,
.input-email,
.agreement-label{
    font-weight: 400;
    font-size: 28px;
    line-height: 1.32;
    @include max-width(1024px){
        font-size: 42px;
    }
    @include max-width(992px){
        font-size: 22px;
    }
    @include max-width(768px){
        font-size: 18px;
    }
}
.agreement{
    display: flex;
    .agreement-label{
        color: $secondary-color-06;
        padding-left: 40px;
    }
}

.input-name,
.input-email,
.submit-btn{
    display: block;
}
input[type=checkbox]{
    visibility: hidden;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        height: 36px;
        width: 36px;
        border-radius: 8px;
        border: 2px solid $secondary-color-06;
        top: 2px;
        left: 0;
        visibility: visible;
        @include max-width(992px){
            height: 24px;
            width: 24px;
        }
    }
    &:checked::after{
        content: '';
        position: absolute;
        top: 5px;
        left: 13px;
        width: 10px;
        height: 24px;
        border:solid $primary-color-01;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        visibility: visible;
        @include max-width(992px){
            height: 15px;
            width: 6px;
            left: 9px;
        }
    }
}
.submit-btn{
    margin: 45px auto 0;
    border: none;
    background: transparent;
    cursor: pointer;
    color: $secondary-color-03;
    text-transform: uppercase;
}

// contact form end