.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}

.flex-center-spaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: clamp(320px, 92%, 1730px);
    padding: 0 10px;
    margin: 0 auto;
    @include max-width(575px){
        max-width: 100%;
    }
}

.container-alt {
    max-width: clamp(320px, 92%, 1658px);
    padding: 0 10px;
    margin: 0 auto !important;
    @include max-width(575px){
        max-width: 100%;
    }
}

.title-primary {
    font-size: 62px;
    text-transform: uppercase;
    position: relative;
    color: $secondary-color-03;

    @include max-width(1024px){
        font-size: 68px;
    }
    @include max-width(992px){
        font-size: 42px;
    }
    @include max-width(768px){
        font-size: 32px;
    }
    @include max-width(575px){
        font-size: 28px;
    }
}

.title-secondary {
    font-size: 60px;
    font-family: "poppins";
    font-weight: 200;
    display: block;
    color: $secondary-color-03;
    @include max-width(1024px){
        font-size: 66px;
    }
    @include max-width(992px) {
        font-size: 40px;
    }

    @include max-width(768px) {
        font-size:30px;
    }
    @include max-width(768px) {
        font-size:27px;
    }
}
.title__main{
    font-family: "Berton";
    font-size: 34px;
    font-weight: 400;
    line-height: 1.35;

    @include max-width(1024px){
        font-size: 53px;
    }
    @include max-width(992px){
        font-size: 24px;
    }
    @include max-width(768px){
        font-size: 20px;
    }
}
.title__sub{
    font-weight: 300;
    margin-bottom: 22px;
    @include max-width(1024px){
        font-size: 44px;
    }
    @include max-width(992px) {
        font-size: 24px;
    }

    @include max-width(768px) {
        font-size: 17px;
    }
}
.dsc {
    //
    font-size: 27px;
    //
    line-height: 1.33;
    font-weight: 300;
    text-transform: capitalize;
    position: relative;
    color: $secondary-color-04;
    @include max-width(1024px){
        font-size: 42px;
    }
    @include max-width(992px) {
        font-size: 22px;
    }

    @include max-width(768px) {
        font-size: 18px;
    }
    @include max-width(768px) {
        font-size: 15px;
    }
}
.more-link{
    line-height: 1.32;
    font-weight: 300;
    font-size: 28px;
    font-style: italic;
    text-decoration: underline;
    @include max-width(1024px){
        font-size: 36px;
    }
    @include max-width(992px) {
        font-size: 22px;
    }

    @include max-width(768px) {
        font-size: 15px;
    }
}
.slice{
    position: absolute;
    background-color: $primary-color-02;
    z-index: -1;
}
.portrait{
    height: 200%;
    width: 65px;
    bottom: -15px;
}
.landscape{
    height: 30%;
    width: 20%;
    top: -15px;
}

.inner-wrapper{
    width: clamp(320px, 80%, 1520px);
    padding: 0 10px;
    margin: 0 auto;
}

@include minmax(991px, 1024px){
    .hero-title{
        font-size: 88px;
    }
    .main-title{
        font-size: 72px;
    }
    .main-title-secondary{
        font-size: 70px;
    }
    .sub-title-primary{
        font-size: 42px;
    }
}
.top{
    padding: 190px 0 95px;
    @include max-width(767px){
        padding: 95px 0 40px;
    }
    @include max-width(575px){
        padding: 40px 0 20px;
    }
}
.middle{
    padding: 95px 0;
    @include max-width(767px){
        padding: 40px 0;
    }
    @include max-width(575px){
        padding: 20px 0;

    }
}
.bottom{
    padding: 95px 0 190px;
    @include max-width(767px){
        padding: 40px 0 95px;
    }
    @include max-width(575px){
        padding: 20px 0 40px;
    }
}