$primary-color-01: #9eb255;
$primary-color-02: #c4d979;
$secondary-color-01: #0d0d0d;
$secondary-color-02: #272727;
$secondary-color-03: #2f2f2f;
$secondary-color-04: #737373;
$secondary-color-05: #adadad;
$secondary-color-06: #707070;
$light-color-01: #ffffff;
$light-color-02: #f0f0f0;
