.home-appartments{
	padding: 272px 0 130px;
	position: relative;
	@include max-width(768px){
		padding: 80px 0;
	}
	.leaf{
		position: absolute;
		top: 105px;
		right: -500px;
		@include max-width(1024px){
			right: -65%;
		}
		@include max-width(1024px){
			right: -90%;
		}
	}
	.appartments-content{
		.title-primary,
		.title-secondary{
			color: $secondary-color-03;
		}
		.title-primary{
			margin-bottom: 40px;
			@include max-width(1024px){
				margin-bottom: 80px;
			}
			.landscape{
				left: -150px;
				width: 30%;
				@include max-width(1024px){
					width: 70%;
					top: -15%;
				}
			}
		}
		.appartments__dsc{
			margin-bottom: 40px;
			@include max-width(1024px){
				margin-bottom: 80px;
			}
		}
		.more-link{
			color: $primary-color-01;
		}
	}
	.appartment-wrapper{
		margin-top: 160px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 50px;
		padding: 0 35px;
		@include max-width(1500px){
			grid-template-columns: repeat(2, 1fr);
			row-gap: 200px;
		}
		@include max-width(1024px){
			display: block;
			padding: 0;
		}
		.appartment{
			position: relative;
			z-index: 10;
			@include max-width(1024px){
				margin-bottom: 124px;
			}
			&::after,
			&::before{
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
			}
			&::after{
				top: 0;
				left: 0;
				z-index: 99;
				background-color: rgba(0, 0, 0, .4);
			}
			&::before{
				top: 103px;
				background-color: $light-color-02;
				z-index: -1;
			}
			.appartment__img{
				height: 640px;
				@include max-width(1024px){
					max-height: 536px;
					overflow: hidden;
					
				}
				img{
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
			.appartment__title-primary{
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				font-size: 50px;
				font-family: "Berton";
				line-height: 1.12;
				color:#ffffff;
				text-align: center;
				font-weight: 400;
				z-index: 999;
				@include max-width(1024px){
					bottom: 10px;
					left: 50px;
					top: auto;
					transform: translate(0);
					font-size: 51px;
					text-align: left;
				}
				@include max-width(992px){
					font-size: 38px;
				}
				@include max-width(768px){
					font-size: 30px;
				}
				.appartment__title-secondary{
					display: block;
					font-size: 49px;
					font-weight: 200;
					font-family: "poppins";
					line-height: 1.26;
					@include max-width(1024px){
						font-size: 59px;
					}
					@include max-width(992px){
						font-size: 37px;
					}
					@include max-width(768px){
						font-size: 28px;
					}
				}
				.break-off{
					white-space: nowrap;
				}
			}
			.see-more{
				position: absolute;
				bottom: 60px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 999;
				@include max-width(1024px){
					bottom: 25px;
					left: auto;
					right: 50px;
					transform: translate(0);
					svg{
						height: 111px;
						width: 111px;
					}
				}
				@include max-width(992px){
					svg{
						height: 76px;
						width: 76px;
					}
				}
				@include max-width(768px){
					svg{
						height: 56px;
						width: 56px;
					}
				}
			}
		}
		.left-shadow.appartment::before{
			left: -20px;
		}
		.left-shadow02.appartment::before{
			left: -35px;
		}
		.right-shadow.appartment::before{
			left: 20px;
		}
		.right-shadow02.appartment::before{
			left: 35px;
		}
		@include max-width(1024px){
			.left-shadow.appartment::before,
			.left-shadow02.appartment::before,
			.right-shadow.appartment::before,
			.right-shadow02.appartment::before{
				top: 70px;
				width: 80%;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		
	}
}