.blog-details-hero{
	padding-top: 220px;
	@include max-width(767px){
		padding-top: 140px;
	}
	.back-link{
		font-size: 20px;
		font-weight: 400;
		line-height: 1.5;
		color: #767676;
		margin-bottom: 60px;
		display: inline-block;
		@include max-width(767px){
			font-size: 18px;
		}
		.back-icon{
			margin-right: 10px;
		}
		.main-fugure{
			width: 100%;
			margin-bottom: 90px;
			@include max-width(767px){
				margin-bottom: 50px;
			}
			img{
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

	}
}