.slider{
	background-color: $secondary-color-02;
	padding: 120px 0 115px;
	@include max-width(767px){
		padding: 80px 0;
	}
	@include max-width(575px){
		padding: 40px 0;
	}
	.slider__title{
		margin-bottom: 120px;
		.title-primary{
			color: $light-color-01;
			@include max-width(767px){
				margin-bottom: 60px;
			}
			@include max-width(575px){
				margin-bottom: 30px;
			}
		}
	}
	.slider__wrapper{
		width: 93%;
		margin-left: auto;
		overflow: hidden;
		@include max-width(575px){
			width: 100%;
		}
		.slick-list{
			.slick-track{
				@include max-width(575px){
					left: 0;
				}
			}
			.slider-item{
				padding: 0 25px;
				color: $light-color-01;
				.slider-item__figure{
					margin-bottom: 15px;
					img{
						width: 100%;
						object-fit: cover;
					}
				}
				.slider-item__title{
					font-size: 50px;
					font-family: "Berton";
					font-weight: 300;
				
					margin-bottom: 15px;
					@include max-width(1024px){
						font-size: 72px;
					}
					@include max-width(991px){
						font-size: 36px;
					}
					@include max-width(767px){
						font-size: 28px;
					}
					@include max-width(575px){
						font-size: 22px;
					}
				}
				.slider-item__subtitle{
					font-size: 22px;
					font-weight: 400;
					line-height: 1.5;
					@include max-width(1024px){
						font-size: 36px;
					}
					@include max-width(991px){
						font-size: 14px;
					}
					@include max-width(767px){
						font-size: 20px;
					}
					@include max-width(575px){
						font-size: 16px;
					}
					span{
						display: block;
						margin-top: 6px;
					}
				}
			}
		}
		.slick-next,
    .slick-prev {
        height: 70px;
        width: 70px;
        z-index: 99999;
		top: 35%;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            height: 100%;
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
        }
        @include max-width(992px) {
            top: 70%;
        }
        @include max-width(767px) {
            height: 48px;
            width: 48px;
        }
        @include max-width(575px) {
            bottom: -35px;
            top: auto;
            height: 30px;
            width: 30px;
        }
    }

    .slick-next {
        right: 70px;
        &::before {
            background-image: url("../assets/slide-right.svg");
        }
    }

    .slick-prev {
        left: 70px;
        @include max-width(1024px) {
            right: 22%;
        }

        @include max-width(575px) {
            right: 15%;
        }

        &::before {
            background-image: url("../assets/left-slide.svg");
        }
    }
	}
}
