.event-contact-area{
	padding: 190px 0 120px;
	position: relative;
	z-index: 9;
	@include max-width(768px){
		padding: 70px 0 80px;
	}
	.leaf{
		position: absolute;
		top: 5%;
		right: -35%;
		z-index: -1;
		@include max-width(1024px){
			right: -60%;
		}
	}
	.inner-section{
		@extend .flex-center-spaceBetween;
		gap: clamp(50px, 50%, 140px);
		padding: 0 32px;
		@include max-width(1300px){
			gap: 50px;
		}
		@include max-width(1180px){
			flex-direction: column;
		}
		@include max-width(575px){
			padding: 0;
		}
		.contact-form{
			padding: 0 8px;
			flex: 1;
			.contact-form__title{
				font-size: 48px;
				font-weight: 400;
				line-height: 1.25;
				color: $secondary-color-03;
				position: relative;
				margin-bottom: 100px;
				text-transform: uppercase;
				font-family: "Berton";
				@include max-width(1180px){
					font-size: 64px;
				}
				@include max-width(991px){
					font-size: 42px;
				}
				@include max-width(767px){
					font-size: 32px;
				}
				.landscape{
					width: 50%;
					top: -15%;
					left: -15%;
					height: 25%;
				}
			}
			.contact-form__subtitle{
				font-size: 45px;
				font-weight: 200;
				line-height: 1.88;
				display: block;
				font-family: "poppins";
				@include max-width(1180px){
					font-size: 62px;
				}
				@include max-width(991px){
					font-size: 40px;
				}
				@include max-width(767px){
					font-size: 30px;
				}
			}
			.input-email{
				margin-bottom: 90px;
				@include max-width(767px){
					margin-top: 40px;
				}
			}
			.submit-btn{
				margin-top: 95px;
				@include max-width(767px){
					margin-top: 40px;
				}
			}
		}
		.contact-right-area{
			flex: 1;
			color: $secondary-color-03;
			.title{
				font-size: 52px;
				font-weight: 400;
				line-height: 1.34;
				margin-bottom: 40px;
				font-family: "Berton";
				@include max-width(1180px){
					font-size: 72px;
				}
				@include max-width(991px){
					font-size: 42px;
				}
				@include max-width(767px){
					font-size: 32px;
				}
			}
			.contact-right__dsc{
				font-size: 25px;
				font-weight: 300;
				line-height: 1.52;
				margin-bottom: 35px;
				@include max-width(1180px){
					font-size: 42px;
				}
				@include max-width(991px){
					font-size: 32px;
				}
				@include max-width(767px){
					font-size: 24px;
				}
				@include max-width(767px){
					font-size: 18px;
				}
			}
			.telephone{
				margin-top: 15px;
			}
			.email,
			.telephone{
				font-weight: 400;
				display: block;
				.light{
					font-weight: 300;
				}
			}
		}
	}
}