.footer-area {
    background-color: #272727;
    padding: 90px 0 20px;
    .footer-widgets {
        display: flex;
        justify-content: space-between;
    }
    .col-left{
        @include max-width(1024px){
            display: flex;
            .responsive-left{
                padding-right: 130px;
            }
        }
        @include max-width(767px){
            justify-content: space-between;
        }
        @include max-width(575px){
            flex-direction: column;
            align-items: center;
            gap: 30px;
            .responsive-left{
                padding: 0;
            }
        }
    }
    .col-right {
        padding-right: 330px;
        display: flex;
        @include max-width(1360px) {
            padding-right: 100px;
        }
        @include max-width(767px){
            padding: 0;
            justify-content: space-between;
        }
        @include max-width(575px){
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
    }

    .footer-widget-link {
        &:first-child {
            padding-right: 160px;
            @include max-width(575px){
                padding: 0;
            }
        }

        li {
            a {
                color: #ffffff;
                font-size: 20px;
                font-weight: 300;
                display: inline-block;
                line-height: 2.2;
            }
        }
    }
}

.footer-social-links {
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    li {
        margin-right: 40px;
    }
}

.footer-address {
    span {
        display: block;
        color: #ffffff;
    }
}

.copyright {
    p {
        margin-top: 90px;
        text-align: right;
        color: #ffffff;
        font-size: 20px;
        font-weight: 300;
        @include max-width(767px){
            margin-top: 50px;
        }
    }
}

@media (max-width: 1024px) {
    .footer-widget-link li a {
        font-size: 18px;
    }

    .footer-widgets {
        flex-direction: column;
    }

    .footer-area .col-right {
        margin-top: 100px;
        @include max-width(1024px){
            margin-top: 150px;
        }
        @include max-width(991px){
            margin-top: 80px;
        }
        @include max-width(767px){
            margin-top: 50px;
        }
    }
}

@media (max-width: 992) {
    .footer-widget-link li a {
        font-size: 16px;
    }
}

@media (max-width: 768) {
    .footer-widget-link li a {
        font-size: 14px;
    }
}
