.franchises-hero{
	margin-top: -100px;}

	
// investment factor start
.investment-factor{
	padding: 190px 0 95px;
	@include max-width(767px){
		padding: 80px 0 40px;
	}
	@include max-width(575px){
		padding: 40px 0 20px;
	}
}
//  investment factor end

// investment facilities start
.investment-facilities{
	padding: 95px 0;
	position: relative;
	@include max-width(767px){
		padding: 40px 0;
	}
	@include max-width(767px){
		padding: 20px 0;
	}
	.leaf{
		position: absolute;
		top: -50%;
		left: -33%;
	}
	.investment-facilities__title{
		text-align: center;
		margin-bottom: 200px;
		
		.title-primary{
			color: $secondary-color-03;
		}
	}
	.investment-facilities__content{
		text-align: center;
		padding-top: 30px;
		@extend .flex-center-spaceBetween;
		gap: clamp(30px, 5%, 60px);
		.facility{
			flex: 1;
			.facility-icon{
				margin-bottom: 38px;
			}
			.facility-title{
				font-size: 32px;
				font-weight: 400;
				line-height: 1.1;
				color: $secondary-color-03;
				margin-bottom: 30px;
				text-transform: uppercase;
			}
			.facility-dsc.dsc{
				font-size: 28px;
				line-height: 1.5;
				color: $secondary-color-06;
			}
		}
		.facility:nth-child(odd){
			margin-top: -175px;
		}
		.facility:nth-child(even){
			margin-top: 115px;
		}
	}
}
// investment facilities end

// market-potential & investment-strategy start
.market-potential,
.investment-strategy {
	padding: 95px 0;
	@include max-width(767px){
		padding: 40px 0;
	}
	@include max-width(767px){
		padding: 20px 0;
	}
}

//market potential & Investment strategy end

// EXPLORE PROJECTS start
.explore-project{
	padding: 85px 0;
	@include max-width(767px){
		padding: 40px 0;
	}
	@include max-width(575px){
		padding: 20px 0;
	}
	.explore-project__title{
		.title-primary{
			color: $secondary-color-02;
			margin-bottom: 55px;
		}
	}
	.grid-area{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: clamp(2px, 4%, 50px);
		@include max-width(1024px){
			grid-template-columns: repeat(2, 1fr);
		}
		@include max-width(767px){
			grid-template-columns: repeat(1, 1fr);
		}
		.project{
			position: relative;
			&::after{
				position: absolute;
				content: '';
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				background-color: rgba(0, 0, 0, .3);
			}
			.project__title{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 9;
				.project__title__main{
					font-family: "Berton";
					font-weight: 400;
					font-size: 51px;
					line-height: 1.11;
					color: $light-color-01;
					text-align: center;
					@include max-width(992px){
						font-size: 32px;
					}
					@include max-width(767px){
						font-size: 28px;
					}
					@include max-width(575px){
						font-size: 24px;
					}
					.project__title__sub{
						font-family: "poppins";
						font-size: 49px;
						font-weight: 200;
						display: block;
						
						@include max-width(992px){
							font-size: 30px;
						}
						@include max-width(767px){
							font-size: 27px;
						}
						@include max-width(575px){
							font-size: 20px;
						}
					}
				}
			}
		}
	}
}
//EXPLORE PROJECTS end

// our partners start
.our-partners-area{
	padding: 95px 0 190px;
	z-index: 9;
	position: relative;
	@include max-width(767px){
		padding: 40px 0 80px;
	}
	@include max-width(575px){
		padding: 20px 0 40px;
	}
	.plant{
		position: absolute;
		top: 23%;
		right: -17%;
		z-index: -1;
	}
	.our-partners-title{
		margin-bottom: 120px;
		@include max-width(767px){
			margin-bottom: 60px;
		}
		@include max-width(575px){
			margin-bottom: 20px;
		}
		.title-primary{
			color: $secondary-color-03;
		}
	}
	.our-partners-tabs{
		@extend .flex-center-spaceBetween;
		padding-bottom: 130px;
		@include max-width(767px){
			padding-bottom: 60px;
		}
		@include max-width(575px){
			padding-bottom: 20px;
		}
		.tab{
			a{
				display: inline-block;
				padding: 0 25px;
				position: relative;
				font-size: 42px;
				font-weight: 300;
				line-height: 1.47;
				color: #b9b9b9;
				transition: .3s;
				&::after{
					content: '';
					position: absolute;
					width: 0;
					height: 2px;
					bottom: -2px;
					left: 50%;
					transform: translateX(-50%);
					background-color: $primary-color-02;
					transition: .3s;
				}
				&.active,
				&:hover{
					color: $secondary-color-03;
					&::after{
						width: 90%;
					}
				}
			}
		}
	}
	.our-partners{
		.partner{
			@extend .flex-center-spaceBetween;
			padding: 38px;
			box-shadow: 3px 3px 16px rgba(0, 0, 0, .16);
			background-color: $light-color-01;
			@include max-width(767px){
				padding: 25px;
			}
		@include max-width(575px){
			padding: 15px;
		}
			.partnar-logo{
				flex: 1;
				@extend .flex-center-center;
			}
			.partner_details{
				flex: 3;
			}
			.brand-name{
				font-size: 27px;
				line-height: 2.59;
				color: $secondary-color-03;
				font-weight: 400;
				margin-bottom: 8px;
				@include max-width(991px){
					font-size: 24px;
				}
				@include max-width(767px){
					font-size: 20px;
				}
				@include max-width(575px){
					font-size: 17px;
				}
			}
			.partner-dsc{
				font-size: 20px;
				font-weight: 400;
				line-height: 1.5;
				color: $secondary-color-06;
				margin-bottom: 10px;
				max-width: 1000px;
				span{
					margin-top: 30px;
					display: block;
				}
			}
			.more-link{
				color: $primary-color-01;
				font-size: 20px;
			}
		}
	}
}
// our partners end
