.hero-section {
    position: relative;
    background-image: url(../../assets/home-hero.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include max-width(1024px) {
        background-position: 65% 100px;
    }

    padding: 100px 0;
    height: 100vh;
    .hero-title {
        margin-top: 210px;
        @include max-width(1024px) {
            margin-top: 150px;
        }

        .hero-title__primary {
            position: relative;
            z-index: 9;
            @include max-width(1024px) {
                font-size: 88px;
                font-family: "Vrinda";
                font-weight: 400;
                .hero-title__secondary {
                    font-size: 76px;
                    @include max-width(992px) {
                        font-size: 55px;
                    }

                    @include max-width(768px) {
                        font-size: 36px;
                    }

                    @include max-width(575px) {
                        font-size: 24px;
                    }
                }

                @include max-width(992px) {
                    font-size: 60px;
                }

                @include max-width(768px) {
                    font-size: 42px;
                }

                @include max-width(575px) {
                    font-size: 32px;
                }
            }

            .landscape {
                left: -150px;
                width: 30%;
                @include max-width(1024px) {
                    width: 70%;
                }

                @include max-width(575px) {
                    top: -5%;
                    width: 50%;
                    left: -10%;
                }
            }
        }

        .hero-title__primary,
        .hero-title__secondary {
            color: $secondary-color-03;
            text-transform: uppercase;
        }

        .hero-title__secondary {
            font-family: "poppins";
            font-size: 70px;
            font-weight: 200;
            display: block;
        }
    }

    .scroll-down {
        position: absolute;
        bottom: 55px;
        left: 4%;
        @include max-width(767px) {
            svg {
                height: 72px;
                width: 72px;
            }
        }

        @include max-width(575px) {
            bottom: 15px;
            svg {
                height: 56px;
                width: 56px;
            }
        }
    }
}
