.team-hero {
    position: relative;
    text-align: center;
    z-index: 9;
    padding-top: var(--header-offset);
    @extend .flex-center-center;
    flex-direction: column;
    .leaf {
        position: absolute;
        top: -70px;
        left: -255px;
        z-index: -1;
    }

    .team-hero__title {
        color: $secondary-color-03;
        margin-bottom: 93px;
        @include max-width(1024px) {
            font-size: 88px;
        }

        @include max-width(991px) {
            font-size: 52px;
        }

        @include max-width(767px) {
            font-size: 42px;
            margin-bottom: 50px;
        }

        @include max-width(575px) {
            font-size: 36px;
            margin-bottom: 30px;
        }
    }

    .dsc {
        color: $secondary-color-04;
        max-width: 900px;
        margin: 0 auto;
        margin-bottom: 80px;
        @include max-width(992px) {
            padding: 0 20px;
        }

        @include max-width(575px) {
            padding: 0 10px;
            margin-bottom: 30px;
        }

        .portrait {
            height: 110%;
            bottom: 15%;
            @include max-width(992px) {
                right: 0;
                width: 5%;
            }
        }
    }

    .scroll-down {
        svg {
            @include max-width(1024px) {
                height: 166px;
                width: 166px;
            }

            @include max-width(991px) {
                height: 120px;
                width: 120px;
            }

            @include max-width(767px) {
                height: 90px;
                width: 90px;
            }
        }
    }
}
