.team-members{
	padding: 190px 0 125px;
	background-color: $secondary-color-02;
	border-bottom: 1px solid $secondary-color-04;
	.team-members__title{
		text-align: center;
		font-family: "Berton";
		font-weight: 400;
		line-height: 1.34;
		color: $light-color-01;
		text-transform: uppercase;
	}
	.grid-area{
		margin-top: 135px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 50px;
		row-gap: 70px;
		.team-member{
			padding: clamp(10px, 5%, 35px);
			.team-member__img{
				margin-bottom: 50px;
				display: inline-block;
				position: relative;
				.add-icon{
					position: absolute;
					bottom: 20px;
					left: 20px;
				}
			}
			.team-member__name a{ 
				font-size: 32px;
				color: $primary-color-02;
				line-height: 1.34;
				font-weight: 300;

				@include max-width(1024px){
					font-size: 28px;
				}
				@include max-width(992px){
					font-size: 20px;
				}
				@include max-width(768px){
					font-size: 15px;
				}
			}
			.team-member__profession{
				font-size: 27px;
				font-weight: 400;
				line-height: 1.33;
				color: $light-color-01;
				@include max-width(1024px){
					font-size: 22px;
				}
				@include max-width(992px){
					font-size: 18px;
				}
				@include max-width(768px){
					font-size: 13px;
				}
			}
		}
	}
}