@font-face {
  font-family: "Berton";
  src: url("../fonts/Berton-Regular.otf") format("OpenType");
  font-weight: 400;
}
@font-face {
  font-family: "Vrinda";
  src: url("../fonts/Vrinda-Regular.ttf") format("TrueType");
  font-weight: 400;
}
:root {
  --header-offset: -100px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  overflow-x: hidden;
  left: 1.33;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

svg,
img {
  max-width: 100%;
  vertical-align: middle;
}

img,
svg {
  vertical-align: middle;
}

button {
  border: none;
}

input:focus,
input {
  outline: none;
  box-shadow: none;
}

h1,
h2 {
  font-family: "Berton";
  line-height: 1.33;
  font-weight: 400;
}

h1 {
  font-size: 80px;
}
@media (max-width: 992px) {
  h1 {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 60px;
}
@media (max-width: 992px) {
  h2 {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

h4 {
  font-size: 28px;
}
@media (max-width: 992px) {
  h4 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  h4 {
    font-size: 14px;
  }
}

h5 {
  font-size: 24px;
}
@media (max-width: 992px) {
  h5 {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  h5 {
    font-size: 13px;
  }
}

p {
  font-size: 20px;
}
@media (max-width: 992px) {
  p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  p {
    font-size: 13px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

@-webkit-keyframes path-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes path-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.svg-group {
  position: relative;
  display: inline-block;
}
.svg-group .svg-alt {
  position: absolute;
  left: 0;
  top: 0;
}

.rotate-infinite {
  transform-origin: center;
  -webkit-animation: path-rotate 7s infinite linear;
          animation: path-rotate 7s infinite linear;
  display: inline-block;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-center-spaceBetween, .up-comming-events .event-list .event, .up-comming-events .up-comming-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: clamp(320px, 92%, 1730px);
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}

.container-alt {
  max-width: clamp(320px, 92%, 1658px);
  padding: 0 10px;
  margin: 0 auto !important;
}
@media (max-width: 575px) {
  .container-alt {
    max-width: 100%;
  }
}

.title-primary {
  font-size: 62px;
  text-transform: uppercase;
  position: relative;
  color: #2f2f2f;
}
@media (max-width: 1024px) {
  .title-primary {
    font-size: 68px;
  }
}
@media (max-width: 992px) {
  .title-primary {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .title-primary {
    font-size: 32px;
  }
}
@media (max-width: 575px) {
  .title-primary {
    font-size: 28px;
  }
}

.title-secondary {
  font-size: 60px;
  font-family: "poppins";
  font-weight: 200;
  display: block;
  color: #2f2f2f;
}
@media (max-width: 1024px) {
  .title-secondary {
    font-size: 66px;
  }
}
@media (max-width: 992px) {
  .title-secondary {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .title-secondary {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .title-secondary {
    font-size: 27px;
  }
}

.title__main {
  font-family: "Berton";
  font-size: 34px;
  font-weight: 400;
  line-height: 1.35;
}
@media (max-width: 1024px) {
  .title__main {
    font-size: 53px;
  }
}
@media (max-width: 992px) {
  .title__main {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .title__main {
    font-size: 20px;
  }
}

.title__sub {
  font-weight: 300;
  margin-bottom: 22px;
}
@media (max-width: 1024px) {
  .title__sub {
    font-size: 44px;
  }
}
@media (max-width: 992px) {
  .title__sub {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .title__sub {
    font-size: 17px;
  }
}

.dsc {
  line-height: 1.33;
  font-weight: 300;
  text-transform: capitalize;
  position: relative;
}
@media (max-width: 1024px) {
  .dsc {
    font-size: 42px;
  }
}
@media (max-width: 992px) {
  .dsc {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .dsc {
    font-size: 14px;
  }
}

.more-link {
  line-height: 1.32;
  font-weight: 300;
  font-size: 28px;
  font-style: italic;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .more-link {
    font-size: 36px;
  }
}
@media (max-width: 992px) {
  .more-link {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .more-link {
    font-size: 15px;
  }
}

.slice {
  position: absolute;
  background-color: #c4d979;
  z-index: -1;
}

.portrait {
  height: 200%;
  width: 65px;
  bottom: -15px;
}

.landscape {
  height: 30%;
  width: 20%;
  top: -15px;
}

.inner-wrapper {
  width: clamp(320px, 80%, 1520px);
  padding: 0 10px;
  margin: 0 auto;
}

.input-name,
.input-email {
  width: 100%;
  padding: 15px 30px;
  border-radius: 10px;
  border: 1px solid #707070;
  margin-bottom: 45px;
  font-family: "montserrat";
}
.input-name::-moz-placeholder, .input-email::-moz-placeholder {
  color: #707070;
}
.input-name:-ms-input-placeholder, .input-email:-ms-input-placeholder {
  color: #707070;
}
.input-name::placeholder,
.input-email::placeholder {
  color: #707070;
}

.input-name,
.input-email,
.agreement-label {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.32;
}
@media (max-width: 1024px) {
  .input-name,
.input-email,
.agreement-label {
    font-size: 42px;
  }
}
@media (max-width: 992px) {
  .input-name,
.input-email,
.agreement-label {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .input-name,
.input-email,
.agreement-label {
    font-size: 18px;
  }
}

.agreement {
  display: flex;
}
.agreement .agreement-label {
  color: #707070;
  padding-left: 40px;
}

.input-name,
.input-email,
.submit-btn {
  display: block;
}

input[type=checkbox] {
  visibility: hidden;
  position: relative;
}
input[type=checkbox]::before {
  content: "";
  position: absolute;
  height: 36px;
  width: 36px;
  border-radius: 8px;
  border: 2px solid #707070;
  top: 2px;
  left: 0;
  visibility: visible;
}
@media (max-width: 992px) {
  input[type=checkbox]::before {
    height: 24px;
    width: 24px;
  }
}
input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 13px;
  width: 10px;
  height: 24px;
  border: solid #9eb255;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  visibility: visible;
}
@media (max-width: 992px) {
  input[type=checkbox]:checked::after {
    height: 15px;
    width: 6px;
    left: 9px;
  }
}

.submit-btn {
  margin: 45px auto 0;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #2f2f2f;
  text-transform: uppercase;
}

.up-comming-events {
  padding: 130px 0 240px;
}
@media (max-width: 768px) {
  .up-comming-events {
    padding: 80px 0;
  }
}
.up-comming-events .up-comming-header {
  padding: 15px 0;
}
.up-comming-events .up-comming-header .title-area .title-primary {
  color: #2f2f2f;
}
.up-comming-events .up-comming-header .see-calendar .calendar-icon {
  text-align: center;
  margin-bottom: 10px;
}
.up-comming-events .up-comming-header .see-calendar .text {
  font-weight: 500;
  line-height: 1.5;
  color: #2f2f2f;
}
.up-comming-events .event-list .event {
  padding: 23px;
  box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.16);
  -moz-column-gap: 65px;
       column-gap: 65px;
}
.up-comming-events .event-list .event .event__figure {
  height: 100%;
  width: 100%;
}
.up-comming-events .event-list .event .event__figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=upCommingEvents.css.map */