@font-face {
  font-family: "Berton";
  src: url("../fonts/Berton-Regular.otf") format("OpenType");
  font-weight: 400;
}
@font-face {
  font-family: "Vrinda";
  src: url("../fonts/Vrinda-Regular.ttf") format("TrueType");
  font-weight: 400;
}
:root {
  --header-offset: 100px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

body,
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

svg,
img {
  max-width: 100%;
  vertical-align: middle;
}

img,
svg {
  vertical-align: middle;
}

button {
  border: none;
}

input:focus,
input {
  outline: none;
  box-shadow: none;
}

h1,
h2 {
  font-family: "Berton";
  line-height: 1.33;
  font-weight: 400;
}

h1 {
  font-size: 80px;
}
@media (max-width: 1024) {
  h1 {
    font-size: 68px;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 42px;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 60px;
}
@media (max-width: 992px) {
  h2 {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

h4 {
  font-size: 28px;
}
@media (max-width: 991px) {
  h4 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 18px;
  }
}

h5 {
  font-size: 24px;
}
@media (max-width: 992px) {
  h5 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  h5 {
    font-size: 16px;
  }
}

p {
  font-size: 20px;
}
@media (max-width: 992px) {
  p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  p {
    font-size: 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

@-webkit-keyframes path-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes path-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.svg-group {
  position: relative;
  display: inline-block;
}
.svg-group .svg-alt {
  position: absolute;
  left: 0;
  top: 0;
}

.rotate-infinite {
  transform-origin: center;
  -webkit-animation: path-rotate 7s infinite linear;
          animation: path-rotate 7s infinite linear;
  display: inline-block;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-center-spaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: clamp(320px, 92%, 1730px);
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}

.container-alt {
  max-width: clamp(320px, 92%, 1658px);
  padding: 0 10px;
  margin: 0 auto !important;
}
@media (max-width: 575px) {
  .container-alt {
    max-width: 100%;
  }
}

.title-primary {
  font-size: 62px;
  text-transform: uppercase;
  position: relative;
  color: #2f2f2f;
}
@media (max-width: 1024px) {
  .title-primary {
    font-size: 68px;
  }
}
@media (max-width: 992px) {
  .title-primary {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .title-primary {
    font-size: 32px;
  }
}
@media (max-width: 575px) {
  .title-primary {
    font-size: 28px;
  }
}

.title-secondary {
  font-size: 60px;
  font-family: "poppins";
  font-weight: 200;
  display: block;
  color: #2f2f2f;
}
@media (max-width: 1024px) {
  .title-secondary {
    font-size: 66px;
  }
}
@media (max-width: 992px) {
  .title-secondary {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .title-secondary {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .title-secondary {
    font-size: 27px;
  }
}

.title__main {
  font-family: "Berton";
  font-size: 34px;
  font-weight: 400;
  line-height: 1.35;
}
@media (max-width: 1024px) {
  .title__main {
    font-size: 53px;
  }
}
@media (max-width: 992px) {
  .title__main {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .title__main {
    font-size: 20px;
  }
}

.title__sub {
  font-weight: 300;
  margin-bottom: 22px;
}
@media (max-width: 1024px) {
  .title__sub {
    font-size: 44px;
  }
}
@media (max-width: 992px) {
  .title__sub {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .title__sub {
    font-size: 17px;
  }
}

.dsc {
  font-size: 27px;
  line-height: 1.33;
  font-weight: 300;
  text-transform: capitalize;
  position: relative;
  color: #737373;
}
@media (max-width: 1024px) {
  .dsc {
    font-size: 42px;
  }
}
@media (max-width: 992px) {
  .dsc {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .dsc {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .dsc {
    font-size: 15px;
  }
}

.more-link {
  line-height: 1.32;
  font-weight: 300;
  font-size: 28px;
  font-style: italic;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .more-link {
    font-size: 36px;
  }
}
@media (max-width: 992px) {
  .more-link {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .more-link {
    font-size: 15px;
  }
}

.slice {
  position: absolute;
  background-color: #c4d979;
  z-index: -1;
}

.portrait {
  height: 200%;
  width: 65px;
  bottom: -15px;
}

.landscape {
  height: 30%;
  width: 20%;
  top: -15px;
}

.inner-wrapper {
  width: clamp(320px, 80%, 1520px);
  padding: 0 10px;
  margin: 0 auto;
}

@media (max-width: 1024px) and (min-width: 991px) {
  .hero-title {
    font-size: 88px;
  }
  .main-title {
    font-size: 72px;
  }
  .main-title-secondary {
    font-size: 70px;
  }
  .sub-title-primary {
    font-size: 42px;
  }
}
.top {
  padding: 190px 0 95px;
}
@media (max-width: 767px) {
  .top {
    padding: 95px 0 40px;
  }
}
@media (max-width: 575px) {
  .top {
    padding: 40px 0 20px;
  }
}

.middle {
  padding: 95px 0;
}
@media (max-width: 767px) {
  .middle {
    padding: 40px 0;
  }
}
@media (max-width: 575px) {
  .middle {
    padding: 20px 0;
  }
}

.bottom {
  padding: 95px 0 190px;
}
@media (max-width: 767px) {
  .bottom {
    padding: 40px 0 95px;
  }
}
@media (max-width: 575px) {
  .bottom {
    padding: 20px 0 40px;
  }
}

.apartment-title h2 {
  color: #2f2f2f;
}

.aparetment-hero {
  position: relative;
}
.aparetment-hero figure {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.aparetment-hero figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.aparetment-hero .hero-title {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}
.aparetment-hero .hero-title h1 {
  color: #ffffff;
  font-size: 64px;
  font-family: Poppins;
  font-weight: 400;
}
.aparetment-hero .hero-title h1 span {
  display: block;
  text-align: center;
  line-height: 1.25;
}
.aparetment-hero .hero-title h1 span.lt {
  font-size: 62px;
  font-weight: 200;
}
.aparetment-hero .hero-title .bg-text {
  position: absolute;
  color: #ffffff;
  opacity: 0.5;
  font-size: 190px;
  font-weight: 700;
  line-height: 1;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 65%);
  white-space: nowrap;
}
.aparetment-hero .hero-title .bg-text .sub {
  font-size: 70%;
  display: inline-block;
  position: relative;
  top: -70px;
}
.aparetment-hero .more-apartment {
  position: absolute;
  left: 70px;
  top: 50%;
  color: #ffffff;
  font-size: 28px;
  color: #ffffff;
  font-family: Poppins;
  font-weight: 300;
  display: inline-block;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .aparetment-hero .more-apartment {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
  }
}
.aparetment-hero .more-apartment span {
  display: block;
}
.aparetment-hero .scroll-next {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.apartment-intro {
  position: relative;
  padding: 230px 0;
}
.apartment-intro .figure .figure__text {
  font-size: 420px;
  font-weight: 500;
  line-height: 1;
  position: absolute;
  color: #707070;
  opacity: 0.7;
  top: 50%;
  left: -75px;
  transform: translateY(calc(-50% - 0px));
  z-index: 9999;
}
.apartment-intro .figure .figure__text .sub {
  font-size: 70%;
  display: inline-block;
  position: relative;
  top: -140px;
}
.apartment-intro .apartment-intro-content {
  max-width: 55%;
  margin-left: auto;
  padding-right: 60px;
}
.apartment-intro .apartment-intro-content h2 {
  text-transform: uppercase;
  font-size: 62px;
  margin-bottom: 40px;
}
.apartment-intro .apartment-intro-content h2 .alt {
  display: block;
  font-family: Poppins;
  font-weight: 200;
  font-size: 60px;
}
.apartment-intro .apartment-intro-content h2 .has-border {
  display: inline-block;
  position: relative;
}
.apartment-intro .apartment-intro-content h2 .has-border::before {
  background-color: #c4d979;
  width: 120%;
  height: 56px;
  position: absolute;
  content: "";
  z-index: -1;
  right: 0;
  top: -15px;
}
.apartment-intro .apartment-intro-content p {
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 0;
}

.apartment-figure-block {
  height: 535px;
}
.apartment-figure-block img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.apartment-features {
  padding-top: 240px;
}
.apartment-features .title {
  padding-left: 70px;
}
.apartment-features .title.has-border {
  position: relative;
}
.apartment-features .title.has-border:before {
  content: "";
  height: 58px;
  width: 500px;
  left: 210px;
  background-color: #c4d979;
  position: absolute;
  top: -15px;
  z-index: -1;
  transform: translateX(-100%);
}
.apartment-features .title h2 {
  margin-bottom: 80px;
  color: #2f2f2f;
}
.apartment-features .features-list {
  position: relative;
  padding-left: 70px;
}
.apartment-features .features-list .shape-ovelay {
  position: absolute;
  width: 500px;
  right: -186px;
  top: -98px;
  z-index: 999;
}
.apartment-features .features-list ul {
  max-width: 950px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 250px;
  grid-row-gap: 90px;
}
.apartment-features .features-list ul li h3 {
  color: #2f2f2f;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 10px 0;
}
.apartment-features .features-list ul li p {
  font-size: 28px;
  font-weight: 400;
  color: #737373;
}

.apartment-gallery {
  padding-left: 170px;
  padding-top: 140px;
}
.apartment-gallery .slick-slide {
  margin: 0 30px;
  width: 620px;
}
.apartment-gallery .slick-prev {
  display: none;
}
.apartment-gallery .slick-next {
  right: 70px;
  z-index: 9999;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
}
.apartment-gallery .slick-next:before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNy44NTIiIGhlaWdodD0iMzYuNjk4IiB2aWV3Qm94PSIwIDAgMzcuODUyIDM2LjY5OCI+DQogIDxnIGlkPSJHcm91cF8xMjEwIiBkYXRhLW5hbWU9Ikdyb3VwIDEyMTAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEgMS40MTQpIj4NCiAgICA8bGluZSBpZD0iTGluZV81IiBkYXRhLW5hbWU9IkxpbmUgNSIgeDI9IjM1LjQzOCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAxNi45MzUpIiBmaWxsPSJub25lIiBzdHJva2U9IiNmMWYxZjEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIi8+DQogICAgPGxpbmUgaWQ9IkxpbmVfNiIgZGF0YS1uYW1lPSJMaW5lIDYiIHgxPSIxNi45MzUiIHkxPSIxNi45MzUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE4LjUwMykiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2YxZjFmMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiLz4NCiAgICA8bGluZSBpZD0iTGluZV83IiBkYXRhLW5hbWU9IkxpbmUgNyIgeDE9IjE2LjkzNSIgeTI9IjE2LjkzNSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTguNTAzIDE2LjkzNSkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2YxZjFmMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiLz4NCiAgPC9nPg0KPC9zdmc+DQo=);
  opacity: 1;
}
.apartment-gallery .slider-progress {
  display: flex;
  align-items: center;
  font-size: 28px;
  color: #707070;
  margin-top: 20px;
}
.apartment-gallery .slider-progress span {
  width: 63px;
  height: 2px;
  background-color: #707070;
  display: inline-block;
  margin: 0 15px;
}

.apartment-map {
  padding: 190px 0 100px;
}
.apartment-map .slider-progress {
  display: flex;
  align-items: center;
  font-size: 28px;
  color: #707070;
  margin-top: 20px;
  justify-content: flex-end;
  padding-right: 22px;
}
.apartment-map .slider-progress span {
  display: inline-block;
  margin: 0 5px;
}
.apartment-map .apartment-map__gallery {
  margin-top: -100px;
  display: flex;
  width: 100%;
  align-items: center;
}
.apartment-map .apartment-map__gallery .apartment-map__gallery__info {
  flex: 0 0 40%;
  max-width: 40%;
}
.apartment-map .apartment-map__gallery .apartment-map__gallery__slides {
  flex: 0 0 60%;
  max-width: 60%;
}
.apartment-map .apartment-map__gallery .apartment-map__gallery__slides img {
  width: 100%;
}

.more-spaces {
  background-color: #272727;
  padding-top: 190px;
  border-bottom: 1px solid #737373;
  position: relative;
}
.more-spaces .shape-top {
  position: absolute;
  width: 580px;
  top: 30px;
  left: 0;
}
.more-spaces .title h2 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 120px;
  font-weight: 400;
  font-family: "Berton";
}
.more-spaces .more-spaces-gallery img {
  width: 100%;
  vertical-align: middle;
}
.more-spaces .more-spaces-gallery .slick-slide {
  margin: 0 10px;
  width: calc(100vw - 80px);
}
.more-spaces .more-spaces-gallery .more-spaces-gallery__item {
  position: relative;
}
.more-spaces .more-spaces-gallery .more-spaces-gallery__item .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #ffffff;
  z-index: 9999999;
  text-align: center;
}
.more-spaces .more-spaces-gallery .more-spaces-gallery__item .text span {
  display: block;
  font-size: 38px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.more-spaces .ver-todos {
  padding-top: 120px;
  padding-bottom: 90px;
  text-align: center;
}
.more-spaces .ver-todos a {
  display: inline-block;
}
.more-spaces .ver-todos .text {
  display: block;
  color: #ffffff;
  font-size: 28px;
  font-style: italic;
  font-weight: 300;
  margin-top: 25px;
  text-decoration: underline;
}

.style-1 .apartment-intro .figure img {
  width: 584px;
  position: absolute;
  left: -120px;
  top: 50%;
  transform: translateY(-50%);
}
.style-1 .apartment-features .features-list:before {
  content: "";
  height: 293px;
  width: 293px;
  border-radius: 50%;
  position: absolute;
  background-color: #c4d979;
  right: 0px;
  top: -10px;
}

.style-2 .apartment-intro .figure img {
  width: 700px;
  position: absolute;
  left: -240px;
  top: 320px;
  transform: translateY(-50%);
}
.style-2 .apartment-intro .apartment-intro-content .title {
  position: relative;
}
.style-2 .apartment-intro .apartment-intro-content .title::before {
  height: 250px;
  width: 250px;
  background-color: #c4d979;
  content: "";
  position: absolute;
  border-radius: 50%;
  right: -70px;
  z-index: -1;
}
.style-2 .apartment-features .title {
  position: relative;
}
.style-2 .apartment-features .title:before {
  content: "";
  height: 58px;
  width: 500px;
  left: 210px;
  background-color: #c4d979;
  position: absolute;
  top: -15px;
  z-index: -1;
  transform: translateX(-100%);
}
.style-2 .apartment-features .features-list .shape-ovelay {
  width: 600px;
  right: -290px;
  top: -98px;
}

.style-3 .apartment-intro .figure img {
  width: 584px;
  position: absolute;
  left: -120px;
  top: 50%;
  transform: translateY(-50%);
}
.style-3 .apartment-intro-content {
  position: relative;
}
.style-3 .apartment-intro-content::before {
  background-color: #c4d979;
  width: 56px;
  height: calc(100% + 70px);
  position: absolute;
  content: "";
  z-index: -1;
  right: 60px;
  bottom: -10px;
}
.style-3 .apartment-features {
  position: relative;
}
.style-3 .apartment-features:before {
  content: "";
  height: 293px;
  width: 293px;
  border-radius: 50%;
  position: absolute;
  background-color: #c4d979;
  right: -40px;
  top: 220px;
}

.style-4 .apartment-intro .figure img {
  width: 584px;
  position: absolute;
  left: -120px;
  top: 50%;
  transform: translateY(-50%);
}
.style-4 .apartment-intro::before {
  height: 250px;
  width: 250px;
  background-color: #c4d979;
  border-radius: 50%;
  position: absolute;
  right: -40px;
  z-index: 99;
  top: 113px;
  content: "";
}
.style-4 .apartment-features {
  padding-top: 340px;
}
.style-4 .apartment-features .title h2 {
  position: relative;
}
.style-4 .apartment-features .title h2:before {
  content: "";
  height: 430px;
  width: 80px;
  left: 30px;
  background-color: #c4d979;
  position: absolute;
  bottom: -30px;
  z-index: -1;
  transform: translateX(-100%);
}/*# sourceMappingURL=apartments.css.map */