@font-face {
  font-family: "Berton";
  src: url("../fonts/Berton-Regular.otf") format("OpenType");
  font-weight: 400;
}
@font-face {
  font-family: "Vrinda";
  src: url("../fonts/Vrinda-Regular.ttf") format("TrueType");
  font-weight: 400;
}
:root {
  --header-offset: 100px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

body,
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

svg,
img {
  max-width: 100%;
  vertical-align: middle;
}

img,
svg {
  vertical-align: middle;
}

button {
  border: none;
}

input:focus,
input {
  outline: none;
  box-shadow: none;
}

h1,
h2 {
  font-family: "Berton";
  line-height: 1.33;
  font-weight: 400;
}

h1 {
  font-size: 80px;
}
@media (max-width: 1024) {
  h1 {
    font-size: 68px;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 42px;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 60px;
}
@media (max-width: 992px) {
  h2 {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

h4 {
  font-size: 28px;
}
@media (max-width: 991px) {
  h4 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 18px;
  }
}

h5 {
  font-size: 24px;
}
@media (max-width: 992px) {
  h5 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  h5 {
    font-size: 16px;
  }
}

p {
  font-size: 20px;
}
@media (max-width: 992px) {
  p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  p {
    font-size: 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

@-webkit-keyframes path-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes path-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.svg-group {
  position: relative;
  display: inline-block;
}
.svg-group .svg-alt {
  position: absolute;
  left: 0;
  top: 0;
}

.rotate-infinite {
  transform-origin: center;
  -webkit-animation: path-rotate 7s infinite linear;
          animation: path-rotate 7s infinite linear;
  display: inline-block;
}

.flex-center-center, .relative-blogs .blog, .coliiv, .blog-pagination ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-center-spaceBetween, .info-blog .inner-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: clamp(320px, 92%, 1730px);
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}

.container-alt {
  max-width: clamp(320px, 92%, 1658px);
  padding: 0 10px;
  margin: 0 auto !important;
}
@media (max-width: 575px) {
  .container-alt {
    max-width: 100%;
  }
}

.inner-wrapper {
  width: clamp(320px, 80%, 1520px);
  padding: 0 10px;
  margin: 0 auto;
}

.title-primary {
  font-size: 62px;
  text-transform: uppercase;
  position: relative;
  color: #2f2f2f;
}
@media (max-width: 1024px) {
  .title-primary {
    font-size: 68px;
  }
}
@media (max-width: 992px) {
  .title-primary {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .title-primary {
    font-size: 32px;
  }
}
@media (max-width: 575px) {
  .title-primary {
    font-size: 28px;
  }
}

.title-secondary {
  font-size: 60px;
  font-family: "poppins";
  font-weight: 200;
  display: block;
  color: #2f2f2f;
}
@media (max-width: 1024px) {
  .title-secondary {
    font-size: 66px;
  }
}
@media (max-width: 992px) {
  .title-secondary {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .title-secondary {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .title-secondary {
    font-size: 27px;
  }
}

.title__main {
  font-family: "Berton";
  font-size: 34px;
  font-weight: 400;
  line-height: 1.35;
}
@media (max-width: 1024px) {
  .title__main {
    font-size: 53px;
  }
}
@media (max-width: 992px) {
  .title__main {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .title__main {
    font-size: 20px;
  }
}

.title__sub {
  font-weight: 300;
  margin-bottom: 22px;
}
@media (max-width: 1024px) {
  .title__sub {
    font-size: 44px;
  }
}
@media (max-width: 992px) {
  .title__sub {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .title__sub {
    font-size: 17px;
  }
}

.dsc {
  font-size: 27px;
  line-height: 1.33;
  font-weight: 300;
  text-transform: capitalize;
  position: relative;
  color: #737373;
}
@media (max-width: 1024px) {
  .dsc {
    font-size: 42px;
  }
}
@media (max-width: 992px) {
  .dsc {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .dsc {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .dsc {
    font-size: 15px;
  }
}

.more-link {
  line-height: 1.32;
  font-weight: 300;
  font-size: 28px;
  font-style: italic;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .more-link {
    font-size: 36px;
  }
}
@media (max-width: 992px) {
  .more-link {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .more-link {
    font-size: 15px;
  }
}

.slice {
  position: absolute;
  background-color: #c4d979;
  z-index: -1;
}

.portrait {
  height: 200%;
  width: 65px;
  bottom: -15px;
}

.landscape {
  height: 30%;
  width: 20%;
  top: -15px;
}

@media (max-width: 1024px) and (min-width: 991px) {
  .hero-title {
    font-size: 88px;
  }
  .main-title {
    font-size: 72px;
  }
  .main-title-secondary {
    font-size: 70px;
  }
  .sub-title-primary {
    font-size: 42px;
  }
}
.top {
  padding: 190px 0 95px;
}
@media (max-width: 767px) {
  .top {
    padding: 95px 0 40px;
  }
}
@media (max-width: 575px) {
  .top {
    padding: 40px 0 20px;
  }
}

.middle {
  padding: 95px 0;
}
@media (max-width: 767px) {
  .middle {
    padding: 40px 0;
  }
}
@media (max-width: 575px) {
  .middle {
    padding: 20px 0;
  }
}

.bottom {
  padding: 95px 0 190px;
}
@media (max-width: 767px) {
  .bottom {
    padding: 40px 0 95px;
  }
}
@media (max-width: 575px) {
  .bottom {
    padding: 20px 0 40px;
  }
}

.blog .info-blog__text-area {
  display: flex;
  flex-direction: column;
}
.blog .info-blog__text-area .blog-time {
  font-style: italic;
  color: #767676;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .blog .info-blog__text-area .blog-time {
    margin-bottom: 15px;
    order: 3;
  }
}
.blog .info-blog__text-area h5.dsc {
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .blog .info-blog__text-area h5.dsc {
    order: 2;
  }
}
.blog .info-blog__text-area .more-link {
  color: #9eb255;
  font-weight: 400;
  order: 4;
}

.blog01 .dsc {
  position: relative;
}
.blog01 .dsc .portrait {
  height: 55%;
  left: -5%;
  top: -5%;
  width: 8%;
}

.blog-pagination ul li a {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  margin-right: 33px;
  padding: 0 15px;
  display: inline-block;
  transition: 0.3s;
  text-decoration: underline;
}
.blog-pagination ul li a.active, .blog-pagination ul li a:hover {
  background-color: #c4d979;
  text-decoration: none;
}
.blog-pagination ul li:last-child {
  margin-top: 0;
}
.blog-pagination ul li:last-child a {
  text-decoration: none;
}

.info-blog .inner-section {
  gap: clamp(50px, 9%, 120px);
}
@media (max-width: 1024px) {
  .info-blog .inner-section {
    flex-direction: column;
  }
}
@media (max-width: 1024px) and (min-width: 991px) {
  .info-blog .inner-section {
    gap: 190px;
  }
}
@media (max-width: 991px) {
  .info-blog .inner-section {
    gap: 100px;
  }
}
@media (max-width: 1024px) {
  .info-blog .inner-section.responsive-reverse {
    flex-direction: column-reverse;
  }
}
.info-blog .inner-section .info-blog__figure {
  flex: 1;
  max-width: 50%;
}
@media (max-width: 1024px) {
  .info-blog .inner-section .info-blog__figure {
    max-width: 100%;
  }
}
.info-blog .inner-section .info-blog__figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.info-blog .inner-section .info-blog__figure.shadow-right {
  margin-right: 5%;
  position: relative;
}
.info-blog .inner-section .info-blog__figure.shadow-right::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10.7%;
  left: 10%;
  background-color: #f0f0f0;
  z-index: -1;
}
.info-blog .inner-section .info-blog__text-area {
  flex: 1;
  position: relative;
}
@media (max-width: 1024px) {
  .info-blog .inner-section .info-blog__text-area {
    width: 100%;
    max-width: 100%;
  }
}
.info-blog .inner-section .info-blog__text-area .landscape {
  width: 40%;
  left: -7%;
  top: -8%;
  height: 17%;
}
.info-blog .inner-section .info-blog__text-area .info-blog__title {
  font-size: 52px;
  font-weight: 400;
  line-height: 1.23;
  color: #2f2f2f;
  margin-bottom: 35px;
  position: relative;
}
@media (max-width: 1024px) {
  .info-blog .inner-section .info-blog__text-area .info-blog__title {
    font-size: 62px;
    margin-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .info-blog .inner-section .info-blog__text-area .info-blog__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .info-blog .inner-section .info-blog__text-area .info-blog__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
}
@media (max-width: 575px) {
  .info-blog .inner-section .info-blog__text-area .info-blog__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
.info-blog .inner-section .info-blog__text-area .title-primary {
  color: #2f2f2f;
  margin-bottom: 40px;
  line-height: 1.24;
  position: relative;
}
.info-blog .inner-section .info-blog__text-area .title-primary .portrait {
  bottom: -75%;
  left: -5%;
}
.info-blog .inner-section .info-blog__text-area .title-primary .title-secondary {
  position: relative;
}
.info-blog .inner-section .info-blog__text-area .title-primary .title-secondary .landscape {
  width: 30%;
  left: -10%;
  top: 40%;
  height: 70%;
}
.info-blog .inner-section .info-blog__text-area .dsc {
  position: relative;
  color: #737373;
}
.info-blog .inner-section .info-blog__text-area .dsc span.dsc {
  display: block;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .info-blog .inner-section .info-blog__text-area .dsc span.dsc {
    margin-top: 30px;
  }
}
@media (max-width: 575px) {
  .info-blog .inner-section .info-blog__text-area .dsc span.dsc {
    margin-top: 15px;
  }
}

.slider__wrapper .slider-item {
  position: relative;
}
.slider__wrapper .slider-item .slider-item__text {
  position: absolute;
  height: 100%;
  width: 90%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
}
.slider__wrapper .slider-item .slider-item__text .slider-item__title {
  margin-bottom: 30px;
}
@media (max-width: 1024px) and (min-width: 991px) {
  .slider__wrapper .slider-item .slider-item__text .slider-item__title {
    flex: 52;
  }
}
.slider__wrapper .slider-item .slider-item__text .slider-item__subtitle {
  font-weight: 400;
}
@media (min-width: 1024px) {
  .slider__wrapper .slider-item .slider-item__text .slider-item__subtitle {
    font-size: 28px !important;
  }
}
.slider__wrapper .slider-item .slider-item__text .more-link {
  color: #ffffff;
  font-weight: 400;
  margin-top: 15px;
}
.slider__wrapper .slider-item .slider-item__figure img {
  width: 100% !important;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__wrapper .counter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8%;
  margin-top: 90px;
}
@media (max-width: 767px) {
  .slider__wrapper .counter {
    margin-top: 50px;
  }
}
.slider__wrapper .counter .current-value,
.slider__wrapper .counter .total-value {
  font-size: 32px;
  line-height: 1.5;
  color: #ffffff;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .slider__wrapper .counter .current-value,
.slider__wrapper .counter .total-value {
    font-size: 42px;
  }
}
@media (max-width: 991px) {
  .slider__wrapper .counter .current-value,
.slider__wrapper .counter .total-value {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .slider__wrapper .counter .current-value,
.slider__wrapper .counter .total-value {
    font-size: 24px;
  }
}
@media (max-width: 575px) {
  .slider__wrapper .counter .current-value,
.slider__wrapper .counter .total-value {
    font-size: 20px;
  }
}
.slider__wrapper .counter .counter-line {
  height: 3px;
  width: 100px;
  background-color: #ffffff;
  margin: 0 18px;
}

.coliiv {
  padding: 240px 0 120px;
}
@media (max-width: 991px) {
  .coliiv {
    padding: 120px 0 80px;
  }
}
.coliiv .coliiv__img {
  border-radius: 14px;
  margin-right: 22px;
}
@media (max-width: 767px) {
  .coliiv {
    padding: 80px 0 50px;
  }
  .coliiv .coliiv__img {
    border-radius: 8px;
  }
}
@media (max-width: 575px) {
  .coliiv {
    padding: 50px 0 30px;
  }
  .coliiv .coliiv__img {
    border-radius: 4px;
    margin-right: 15px;
  }
}

.insta-carousel.slider {
  background-color: #ffffff;
}
.insta-carousel.slider .slick-track {
  padding-bottom: 105px;
}
@media (max-width: 767px) {
  .insta-carousel.slider .slick-track {
    padding-bottom: 60px;
  }
}
.insta-carousel.slider .slick-track .slick-slide {
  padding-inline: 5px;
}
.insta-carousel.slider .slick-track .slick-slide img {
  width: 100%;
}
.insta-carousel.slider .slick-dots {
  bottom: 0;
}
.insta-carousel.slider .slick-dots li {
  margin-right: 15px;
}
.insta-carousel.slider .slick-dots li button::before {
  height: 14px;
  width: 14px;
  background-color: black;
  border-radius: 50%;
}
.insta-carousel.slider .slick-dots li:first-child {
  margin-left: 0;
}
.insta-carousel.slider .slick-dots li:last-child {
  margin-right: 0;
}

.follw-us-insta {
  text-align: center;
  padding: 40px 0 190px;
}
@media (max-width: 767px) {
  .follw-us-insta {
    padding: 30px 0 50px;
  }
}
.follw-us-insta a {
  display: inline-flex;
  align-items: center;
  padding: 13px 23px;
  border-radius: 11px;
  box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.16);
}
@media (max-width: 767px) {
  .follw-us-insta a {
    padding: 8px 15px;
  }
}
.follw-us-insta a .icon {
  margin-right: 40px;
}
@media (max-width: 767px) {
  .follw-us-insta a .icon {
    margin-right: 20px;
  }
}
.follw-us-insta a .dsc {
  font-weight: 20;
  color: #707070;
}

.slider {
  background-color: #272727;
  padding: 120px 0 115px;
}
@media (max-width: 767px) {
  .slider {
    padding: 80px 0;
  }
}
@media (max-width: 575px) {
  .slider {
    padding: 40px 0;
  }
}
.slider .slider__title {
  margin-bottom: 120px;
}
.slider .slider__title .title-primary {
  color: #ffffff;
}
@media (max-width: 767px) {
  .slider .slider__title .title-primary {
    margin-bottom: 60px;
  }
}
@media (max-width: 575px) {
  .slider .slider__title .title-primary {
    margin-bottom: 30px;
  }
}
.slider .slider__wrapper {
  width: 93%;
  margin-left: auto;
  overflow: hidden;
}
@media (max-width: 575px) {
  .slider .slider__wrapper .slick-list .slick-track {
    left: 0;
  }
}
.slider .slider__wrapper .slick-list .slider-item {
  padding: 0 25px;
  color: #ffffff;
}
.slider .slider__wrapper .slick-list .slider-item .slider-item__figure {
  margin-bottom: 15px;
}
.slider .slider__wrapper .slick-list .slider-item .slider-item__figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider .slider__wrapper .slick-list .slider-item .slider-item__title {
  font-size: 50px;
  font-family: "Berton";
  font-weight: 300;
  margin-bottom: 15px;
}
@media (max-width: 1024) {
  .slider .slider__wrapper .slick-list .slider-item .slider-item__title {
    font-size: 72px;
  }
}
@media (max-width: 991px) {
  .slider .slider__wrapper .slick-list .slider-item .slider-item__title {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .slider .slider__wrapper .slick-list .slider-item .slider-item__title {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  .slider .slider__wrapper .slick-list .slider-item .slider-item__title {
    font-size: 22px;
  }
}
.slider .slider__wrapper .slick-list .slider-item .slider-item__subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: 1024) {
  .slider .slider__wrapper .slick-list .slider-item .slider-item__subtitle {
    font-size: 36px;
  }
}
@media (max-width: 991px) {
  .slider .slider__wrapper .slick-list .slider-item .slider-item__subtitle {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .slider .slider__wrapper .slick-list .slider-item .slider-item__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .slider .slider__wrapper .slick-list .slider-item .slider-item__subtitle {
    font-size: 16px;
  }
}
.slider .slider__wrapper .slick-list .slider-item .slider-item__subtitle span {
  display: block;
  margin-top: 6px;
}
.slider .slider__wrapper .slick-next,
.slider .slider__wrapper .slick-prev {
  height: 70px;
  width: 70px;
  z-index: 99999;
  top: 35%;
}
.slider .slider__wrapper .slick-next::before,
.slider .slider__wrapper .slick-prev::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .slider .slider__wrapper .slick-next,
.slider .slider__wrapper .slick-prev {
    top: 70%;
  }
}
@media (max-width: 767px) {
  .slider .slider__wrapper .slick-next,
.slider .slider__wrapper .slick-prev {
    height: 48px;
    width: 48px;
  }
}
@media (max-width: 575px) {
  .slider .slider__wrapper .slick-next,
.slider .slider__wrapper .slick-prev {
    bottom: -35px;
    top: auto;
    height: 30px;
    width: 30px;
  }
}
.slider .slider__wrapper .slick-next {
  right: 70px;
}
.slider .slider__wrapper .slick-next::before {
  background-image: url("../assets/slide-right.svg");
}
.slider .slider__wrapper .slick-prev {
  left: 70px;
}
@media (max-width: 1024px) {
  .slider .slider__wrapper .slick-prev {
    right: 22%;
  }
}
@media (max-width: 575px) {
  .slider .slider__wrapper .slick-prev {
    right: 15%;
  }
}
.slider .slider__wrapper .slick-prev::before {
  background-image: url("../assets/left-slide.svg");
}

.blog-details-hero {
  padding-top: 220px;
}
@media (max-width: 767px) {
  .blog-details-hero {
    padding-top: 140px;
  }
}
.blog-details-hero .back-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #767676;
  margin-bottom: 60px;
  display: inline-block;
}
@media (max-width: 767px) {
  .blog-details-hero .back-link {
    font-size: 18px;
  }
}
.blog-details-hero .back-link .back-icon {
  margin-right: 10px;
}
.blog-details-hero .main-figure {
  width: 100%;
  margin-bottom: 90px;
}
@media (max-width: 767px) {
  .blog-details-hero .main-figure {
    margin-bottom: 50px;
  }
}
.blog-details-hero .main-figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-details-hero .blog-date {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.5;
  color: #767676;
  margin-bottom: 20px;
}

.blog-details-content .content-title {
  font-size: 52px;
  font-weight: 400;
  line-height: 1.34;
  color: #2f2f2f;
  margin-bottom: 40px;
}

.entry-content {
  padding-bottom: 30px;
}
.entry-content p {
  font-size: 27px;
  line-height: 1.5;
  font-weight: 300;
  color: #737373;
  margin-bottom: 20px;
}
.entry-content figure {
  margin: 50px 0 90px;
}
.entry-content figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.entry-content .row {
  display: flex;
  gap: 80px;
  margin: 50px 0 90px;
}
@media (max-width: 767px) {
  .entry-content .row {
    flex-direction: column;
    gap: 40px;
  }
}
.entry-content .row .col {
  flex: 1;
}
.entry-content .row .col img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.relative-blogs {
  background-color: #272727;
  padding: 120px 0;
  border-bottom: 1px solid #737373;
}
@media (max-width: 767px) {
  .relative-blogs {
    padding: 70px 0;
  }
}
.relative-blogs .title-secondary {
  color: #f1f1f1;
  margin-bottom: 20px;
}
.relative-blogs .blog {
  gap: 60px;
  padding-top: 100px;
}
@media (max-width: 1024px) {
  .relative-blogs .blog {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .relative-blogs .blog {
    gap: 40px;
  }
}
.relative-blogs .blog .blog-figure {
  flex: 1;
  max-width: 50%;
}
@media (max-width: 1024px) {
  .relative-blogs .blog .blog-figure {
    max-width: 100%;
  }
}
.relative-blogs .blog .blog-figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.relative-blogs .blog .blog-content {
  flex: 1;
}
@media (max-width: 1024px) {
  .relative-blogs .blog .blog-content {
    max-width: 100%;
  }
}
.relative-blogs .blog .blog-content .title {
  font-size: 52px;
  font-weight: 400;
  line-height: 1.23;
  color: #ffffff;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .relative-blogs .blog .blog-content .title {
    font-size: 62px;
    margin-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .relative-blogs .blog .blog-content .title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .relative-blogs .blog .blog-content .title {
    font-size: 24px;
    margin-bottom: 25px;
  }
}
@media (max-width: 575px) {
  .relative-blogs .blog .blog-content .title {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
.relative-blogs .blog .blog-content .dsc {
  color: #ffffff;
  margin-bottom: 15px;
}
.relative-blogs .blog .blog-content .blog-date {
  font-size: 26px;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .relative-blogs .blog .blog-content .blog-date {
    font-size: 34px;
    margin-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .relative-blogs .blog .blog-content .blog-date {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .relative-blogs .blog .blog-content .blog-date {
    font-size: 20px;
    margin-bottom: 25px;
  }
}
@media (max-width: 575px) {
  .relative-blogs .blog .blog-content .blog-date {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
.relative-blogs .blog .blog-content .more-link {
  color: #9eb255;
}/*# sourceMappingURL=blog.css.map */