@font-face {
  font-family: "Berton";
  src: url("../fonts/Berton-Regular.otf") format("OpenType");
  font-weight: 400;
}
@font-face {
  font-family: "Vrinda";
  src: url("../fonts/Vrinda-Regular.ttf") format("TrueType");
  font-weight: 400;
}
:root {
  --header-offset: 100px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

body,
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

svg,
img {
  max-width: 100%;
  vertical-align: middle;
}

img,
svg {
  vertical-align: middle;
}

button {
  border: none;
}

input:focus,
input {
  outline: none;
  box-shadow: none;
}

h1,
h2 {
  font-family: "Berton";
  line-height: 1.33;
  font-weight: 400;
}

h1 {
  font-size: 80px;
}
@media (max-width: 1024) {
  h1 {
    font-size: 68px;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 42px;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 60px;
}
@media (max-width: 992px) {
  h2 {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

h4 {
  font-size: 28px;
}
@media (max-width: 991px) {
  h4 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 18px;
  }
}

h5 {
  font-size: 24px;
}
@media (max-width: 992px) {
  h5 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  h5 {
    font-size: 16px;
  }
}

p {
  font-size: 20px;
}
@media (max-width: 992px) {
  p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  p {
    font-size: 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

@-webkit-keyframes path-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes path-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.svg-group {
  position: relative;
  display: inline-block;
}
.svg-group .svg-alt {
  position: absolute;
  left: 0;
  top: 0;
}

.rotate-infinite {
  transform-origin: center;
  -webkit-animation: path-rotate 7s infinite linear;
          animation: path-rotate 7s infinite linear;
  display: inline-block;
}

.flex-center-center, .hero, .coliv-family-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-center-spaceBetween, .info-blog .inner-section, .colivers-family .grid-item.flex, .colivers-fav-food .inner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: clamp(320px, 92%, 1730px);
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}

.container-alt {
  max-width: clamp(320px, 92%, 1658px);
  padding: 0 10px;
  margin: 0 auto !important;
}
@media (max-width: 575px) {
  .container-alt {
    max-width: 100%;
  }
}

.inner-wrapper {
  width: clamp(320px, 80%, 1520px);
  padding: 0 10px;
  margin: 0 auto;
}

.title-primary {
  font-size: 62px;
  text-transform: uppercase;
  position: relative;
  color: #2f2f2f;
}
@media (max-width: 1024px) {
  .title-primary {
    font-size: 68px;
  }
}
@media (max-width: 992px) {
  .title-primary {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .title-primary {
    font-size: 32px;
  }
}
@media (max-width: 575px) {
  .title-primary {
    font-size: 28px;
  }
}

.title-secondary {
  font-size: 60px;
  font-family: "poppins";
  font-weight: 200;
  display: block;
  color: #2f2f2f;
}
@media (max-width: 1024px) {
  .title-secondary {
    font-size: 66px;
  }
}
@media (max-width: 992px) {
  .title-secondary {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .title-secondary {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .title-secondary {
    font-size: 27px;
  }
}

.title__main {
  font-family: "Berton";
  font-size: 34px;
  font-weight: 400;
  line-height: 1.35;
}
@media (max-width: 1024px) {
  .title__main {
    font-size: 53px;
  }
}
@media (max-width: 992px) {
  .title__main {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .title__main {
    font-size: 20px;
  }
}

.title__sub {
  font-weight: 300;
  margin-bottom: 22px;
}
@media (max-width: 1024px) {
  .title__sub {
    font-size: 44px;
  }
}
@media (max-width: 992px) {
  .title__sub {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .title__sub {
    font-size: 17px;
  }
}

.dsc {
  font-size: 27px;
  line-height: 1.33;
  font-weight: 300;
  text-transform: capitalize;
  position: relative;
  color: #737373;
}
@media (max-width: 1024px) {
  .dsc {
    font-size: 42px;
  }
}
@media (max-width: 992px) {
  .dsc {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .dsc {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .dsc {
    font-size: 15px;
  }
}

.more-link {
  line-height: 1.32;
  font-weight: 300;
  font-size: 28px;
  font-style: italic;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .more-link {
    font-size: 36px;
  }
}
@media (max-width: 992px) {
  .more-link {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .more-link {
    font-size: 15px;
  }
}

.slice {
  position: absolute;
  background-color: #c4d979;
  z-index: -1;
}

.portrait {
  height: 200%;
  width: 65px;
  bottom: -15px;
}

.landscape {
  height: 30%;
  width: 20%;
  top: -15px;
}

@media (max-width: 1024px) and (min-width: 991px) {
  .hero-title {
    font-size: 88px;
  }
  .main-title {
    font-size: 72px;
  }
  .main-title-secondary {
    font-size: 70px;
  }
  .sub-title-primary {
    font-size: 42px;
  }
}
.top {
  padding: 190px 0 95px;
}
@media (max-width: 767px) {
  .top {
    padding: 95px 0 40px;
  }
}
@media (max-width: 575px) {
  .top {
    padding: 40px 0 20px;
  }
}

.middle {
  padding: 95px 0;
}
@media (max-width: 767px) {
  .middle {
    padding: 40px 0;
  }
}
@media (max-width: 575px) {
  .middle {
    padding: 20px 0;
  }
}

.bottom {
  padding: 95px 0 190px;
}
@media (max-width: 767px) {
  .bottom {
    padding: 40px 0 95px;
  }
}
@media (max-width: 575px) {
  .bottom {
    padding: 20px 0 40px;
  }
}

@media (max-width: 1024px) {
  .colivers-title-primary {
    font-size: 72px;
  }
  .colivers-title-primary .colivers-title-secondary {
    font-size: 70px;
  }
}

.coliv-intro {
  padding: 190px 0 95px;
  position: relative;
}
@media (max-width: 767px) {
  .coliv-intro {
    padding: 95px 0 40px;
  }
}
@media (max-width: 575px) {
  .coliv-intro {
    padding: 40px 0 20px;
  }
}
.coliv-intro .plant {
  position: absolute;
  top: 5%;
  left: -10%;
  z-index: -1;
}
@media (max-width: 1024px) {
  .coliv-intro .plant {
    left: -40%;
  }
}
@media (max-width: 767px) {
  .coliv-intro .plant {
    left: -80%;
  }
}
.coliv-intro .coliv-intro__title {
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .coliv-intro .coliv-intro__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  .coliv-intro .coliv-intro__title {
    margin-bottom: 15px;
  }
}
.coliv-intro .coliv-intro__title .title-primary {
  color: #2f2f2f;
}
.coliv-intro .coliv-intro__dsc {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 160px;
  text-align: center;
  color: #737373;
}
@media (max-width: 1024px) {
  .coliv-intro .coliv-intro__dsc {
    padding: 0 35px;
  }
}
@media (max-width: 767px) {
  .coliv-intro .coliv-intro__dsc {
    padding: 0 20px;
    margin-bottom: 80px;
  }
}
@media (max-width: 575px) {
  .coliv-intro .coliv-intro__dsc {
    padding: 0;
    margin-bottom: 20px;
  }
}

.coliv-family-gallery {
  padding: 95px 0;
  position: relative;
}
@media (max-width: 767px) {
  .coliv-family-gallery {
    padding: 40px 0;
  }
}
@media (max-width: 575px) {
  .coliv-family-gallery {
    padding: 20px 0;
  }
}
.coliv-family-gallery .gallery-center-content {
  padding: 180px 45px 95px;
  max-width: 60%;
}
@media (max-width: 1024px) {
  .coliv-family-gallery .gallery-center-content {
    padding: 95px 50px 45px;
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .coliv-family-gallery .gallery-center-content {
    padding: 40px 25px 25px;
  }
}
@media (max-width: 767px) {
  .coliv-family-gallery .gallery-center-content {
    padding: 20px 10px 15px;
  }
}
@media (max-width: 991px) {
  .coliv-family-gallery .gallery-center-content {
    padding: 10px;
  }
}
.coliv-family-gallery .gallery-center-content .main-figure {
  margin-bottom: 117px;
}
@media (max-width: 767px) {
  .coliv-family-gallery .gallery-center-content .main-figure {
    margin-bottom: 60px;
  }
}
@media (max-width: 575px) {
  .coliv-family-gallery .gallery-center-content .main-figure {
    margin-bottom: 30px;
  }
}
.coliv-family-gallery .gallery-center-content .fig-caption {
  font-size: 52px;
  font-weight: 400;
  line-height: 1.34;
  color: #2f2f2f;
  max-width: 934px;
  margin: 0 auto;
  font-family: "Berton";
  text-align: center;
}
@media (max-width: 1024px) {
  .coliv-family-gallery .gallery-center-content .fig-caption {
    font-size: 62px;
  }
}
@media (max-width: 992px) {
  .coliv-family-gallery .gallery-center-content .fig-caption {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .coliv-family-gallery .gallery-center-content .fig-caption {
    font-size: 27px;
  }
}
@media (max-width: 575px) {
  .coliv-family-gallery .gallery-center-content .fig-caption {
    font-size: 20px;
  }
}
.coliv-family-gallery .top-figure,
.coliv-family-gallery .bottom-figure {
  display: flex;
  justify-content: space-between;
}
.coliv-family-gallery .top-figure .side-figure,
.coliv-family-gallery .bottom-figure .side-figure {
  position: absolute;
}
@media (max-width: 1024px) {
  .coliv-family-gallery .top-figure .side-figure,
.coliv-family-gallery .bottom-figure .side-figure {
    position: static;
    display: inline-block;
  }
}
.coliv-family-gallery .top-figure .side-figure img,
.coliv-family-gallery .bottom-figure .side-figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.coliv-family-gallery .top-figure .side-figure.top-left,
.coliv-family-gallery .bottom-figure .side-figure.top-left {
  top: 95px;
  left: 0;
  width: clamp(160px, 17%, 357px);
}
.coliv-family-gallery .top-figure .side-figure.bottom-left,
.coliv-family-gallery .bottom-figure .side-figure.bottom-left {
  bottom: 95px;
  left: 0;
  width: clamp(100px, 12%, 212px);
}
@media (max-width: 1024px) {
  .coliv-family-gallery .top-figure .side-figure.bottom-left,
.coliv-family-gallery .bottom-figure .side-figure.bottom-left {
    height: 50%;
  }
}
.coliv-family-gallery .top-figure .side-figure.top-right,
.coliv-family-gallery .bottom-figure .side-figure.top-right {
  top: 20%;
  right: 0;
  width: clamp(100px, 12%, 212px);
}
@media (max-width: 1024px) {
  .coliv-family-gallery .top-figure .side-figure.top-right,
.coliv-family-gallery .bottom-figure .side-figure.top-right {
    height: 50%;
  }
}
.coliv-family-gallery .top-figure .side-figure.bottom-right,
.coliv-family-gallery .bottom-figure .side-figure.bottom-right {
  bottom: 95px;
  right: 0;
  width: clamp(160px, 17%, 357px);
}

.top-figure {
  margin-bottom: 90px;
  align-items: flex-end;
}
@media (max-width: 991px) {
  .top-figure {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .top-figure {
    margin-bottom: 40px;
  }
}

.bottom-figure {
  margin-top: 90px;
}
@media (max-width: 991px) {
  .bottom-figure {
    margin-top: 60px;
  }
}
@media (max-width: 767px) {
  .bottom-figure {
    margin-top: 40px;
  }
}

.coliver-activity {
  padding: 95px 0;
}
@media (max-width: 767px) {
  .coliver-activity {
    padding: 40px 0;
  }
}
@media (max-width: 575px) {
  .coliver-activity {
    padding: 20px 0;
  }
}

.colivers-fav-food {
  padding: 95px 0;
}
@media (max-width: 767px) {
  .colivers-fav-food {
    padding: 40px 0;
  }
}
@media (max-width: 575px) {
  .colivers-fav-food {
    padding: 20px 0;
  }
}
.colivers-fav-food .title-primary {
  color: #2f2f2f;
  margin-bottom: 80px;
  text-align: center;
}
@media (max-width: 767px) {
  .colivers-fav-food .title-primary {
    margin-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .colivers-fav-food .title-primary {
    margin-bottom: 20px;
  }
}
.colivers-fav-food .inner-content {
  gap: clamp(40px, 8%, 120px);
}
@media (max-width: 1180px) {
  .colivers-fav-food .inner-content {
    gap: 30px;
  }
}
@media (max-width: 1080px) {
  .colivers-fav-food .inner-content {
    flex-direction: column-reverse;
    gap: 90px;
  }
}
.colivers-fav-food .inner-content .figure-area {
  flex: 1;
}
.colivers-fav-food .inner-content .figure-area img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.colivers-fav-food .inner-content .dsc {
  color: #737373;
  flex: 1;
}
.colivers-fav-food .inner-content .dsc span.dsc {
  display: block;
  margin-top: 45px;
}

.fav-sport {
  padding: 95px 0 190px;
}
@media (max-width: 1024px) {
  .fav-sport {
    padding: 40px 0 380px;
  }
}
@media (max-width: 767px) {
  .fav-sport {
    padding: 40px 0 80px;
  }
}
@media (max-width: 575px) {
  .fav-sport {
    padding: 20px 0 40px;
  }
}
.fav-sport .fav-sport__title {
  text-align: center;
  margin-bottom: 90px;
}
@media (max-width: 767px) {
  .fav-sport .fav-sport__title {
    margin-bottom: 45px;
  }
}
@media (max-width: 575px) {
  .fav-sport .fav-sport__title {
    margin-bottom: 20px;
  }
}
.fav-sport .fav-sport__title .title-primary {
  color: #2f2f2f;
}
.fav-sport .fav-sport__content .fav-sport__dsc {
  color: #737373;
  margin-bottom: 90px;
}
@media (max-width: 767px) {
  .fav-sport .fav-sport__content .fav-sport__dsc {
    margin-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .fav-sport .fav-sport__content .fav-sport__dsc {
    margin-bottom: 25px;
  }
}
.fav-sport .fav-sport__content .fav-sport__dsc span.dsc {
  display: block;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .fav-sport .fav-sport__content .fav-sport__dsc span.dsc {
    margin-top: 30px;
  }
}
@media (max-width: 575px) {
  .fav-sport .fav-sport__content .fav-sport__dsc span.dsc {
    margin-top: 15px;
  }
}
.fav-sport .fav-sport__content .fav-sport__figure {
  max-width: 1350px;
  margin: 0 auto;
}
.fav-sport .fav-sport__content .fav-sport__figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.colivers-family {
  padding: 35px 0 190px;
  position: relative;
}
@media (max-width: 767px) {
  .colivers-family {
    padding-bottom: 80px;
  }
}
@media (max-width: 575px) {
  .colivers-family {
    padding-bottom: 40px;
  }
}
.colivers-family .leaf {
  position: absolute;
  top: -10%;
  right: -30%;
  z-index: -1;
}
@media (max-width: 1024px) {
  .colivers-family .leaf {
    top: -15%;
    right: -50%;
  }
}
@media (max-width: 767px) {
  .colivers-family .leaf {
    top: -25%;
    right: -80%;
  }
}
.colivers-family .colivers-family__title {
  text-align: center;
  margin-bottom: 125px;
}
@media (max-width: 767px) {
  .colivers-family .colivers-family__title {
    margin-bottom: 60px;
  }
}
@media (max-width: 575px) {
  .colivers-family .colivers-family__title {
    margin-bottom: 25px;
  }
}
.colivers-family .colivers-family__title .title-primary {
  color: #2f2f2f;
}
.colivers-family .grid-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
@media (max-width: 1180px) {
  .colivers-family .grid-area {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 991px) {
  .colivers-family .grid-area {
    gap: 35px;
  }
}
@media (max-width: 767px) {
  .colivers-family .grid-area {
    gap: 25px;
  }
}
@media (max-width: 575px) {
  .colivers-family .grid-area {
    gap: 15px;
  }
}
.colivers-family .grid-item.flex {
  gap: clamp(15px, 7%, 60px);
}
.colivers-family .grid-item.flex .title {
  text-align: right;
  flex: 1;
}
.colivers-family .grid-item.flex .title .title__main {
  font-size: 45px;
  font-weight: 400;
  line-height: 1.26;
  color: #2f2f2f;
  margin-bottom: 15px;
  font-family: "Berton";
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .colivers-family .grid-item.flex .title .title__main {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .colivers-family .grid-item.flex .title .title__main {
    font-size: 24px;
  }
}
.colivers-family .grid-item.flex .title .title__sub {
  color: #737373;
}
@media (max-width: 1024px) {
  .colivers-family .grid-item.flex .title .title__sub {
    font-size: 38px;
  }
}
@media (max-width: 991px) {
  .colivers-family .grid-item.flex .title .title__sub {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .colivers-family .grid-item.flex .title .title__sub {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .colivers-family .grid-item.flex .title .title__sub {
    font-size: 16px;
  }
}
.colivers-family .grid-item.flex .figure {
  flex: 1;
  height: 100%;
  width: 100%;
}
.colivers-family .grid-item.flex .figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.colivers-family .grid-item.flex:nth-child(even) {
  flex-direction: row-reverse;
}
.colivers-family .grid-item.flex:nth-child(even) .title {
  text-align: left;
}

.hero {
  height: 100vh;
  position: relative;
}
.hero .hero__img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero .hero__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero .hero__title {
  color: #ffffff;
  text-transform: uppercase;
  z-index: 99;
}

.info-blog {
  position: relative;
}
.info-blog .inner-section {
  gap: clamp(50px, 9%, 120px);
}
@media (max-width: 1024px) {
  .info-blog .inner-section {
    flex-direction: column;
  }
}
@media (max-width: 1024px) and (min-width: 991px) {
  .info-blog .inner-section {
    gap: 190px;
  }
}
@media (max-width: 991px) {
  .info-blog .inner-section {
    gap: 100px;
  }
}
@media (max-width: 1024px) {
  .info-blog .inner-section.responsive-reverse {
    flex-direction: column-reverse;
  }
}
.info-blog .inner-section .info-blog__figure {
  flex: 1;
  max-width: 50%;
}
@media (max-width: 1024px) {
  .info-blog .inner-section .info-blog__figure {
    max-width: 100%;
  }
}
.info-blog .inner-section .info-blog__figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.info-blog .inner-section .info-blog__figure.shadow-right {
  margin-right: 5%;
  position: relative;
}
.info-blog .inner-section .info-blog__figure.shadow-right::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10.7%;
  left: 10%;
  background-color: #f0f0f0;
  z-index: -1;
}
.info-blog .inner-section .info-blog__text-area {
  flex: 1;
  position: relative;
}
@media (max-width: 1024px) {
  .info-blog .inner-section .info-blog__text-area {
    width: 100%;
    max-width: 100%;
  }
}
.info-blog .inner-section .info-blog__text-area .landscape {
  width: 40%;
  left: -7%;
  top: -8%;
  height: 17%;
}
.info-blog .inner-section .info-blog__text-area .info-blog__title {
  font-size: 52px;
  font-weight: 400;
  line-height: 1.23;
  color: #2f2f2f;
  margin-bottom: 35px;
  position: relative;
}
@media (max-width: 1024px) {
  .info-blog .inner-section .info-blog__text-area .info-blog__title {
    font-size: 62px;
    margin-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .info-blog .inner-section .info-blog__text-area .info-blog__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .info-blog .inner-section .info-blog__text-area .info-blog__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
}
@media (max-width: 575px) {
  .info-blog .inner-section .info-blog__text-area .info-blog__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
.info-blog .inner-section .info-blog__text-area .title-primary {
  color: #2f2f2f;
  margin-bottom: 40px;
  line-height: 1.24;
  position: relative;
}
.info-blog .inner-section .info-blog__text-area .title-primary .portrait {
  bottom: -75%;
  left: -5%;
}
.info-blog .inner-section .info-blog__text-area .title-primary .title-secondary {
  position: relative;
}
.info-blog .inner-section .info-blog__text-area .title-primary .title-secondary .landscape {
  width: 30%;
  left: -10%;
  top: 40%;
  height: 70%;
}
.info-blog .inner-section .info-blog__text-area .dsc {
  position: relative;
  color: #737373;
}
.info-blog .inner-section .info-blog__text-area .dsc span.dsc {
  display: block;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .info-blog .inner-section .info-blog__text-area .dsc span.dsc {
    margin-top: 30px;
  }
}
@media (max-width: 575px) {
  .info-blog .inner-section .info-blog__text-area .dsc span.dsc {
    margin-top: 15px;
  }
}/*# sourceMappingURL=colivers.css.map */