@font-face {
  font-family: "Berton";
  src: url("../fonts/Berton-Regular.otf") format("OpenType");
  font-weight: 400;
}
@font-face {
  font-family: "Vrinda";
  src: url("../fonts/Vrinda-Regular.ttf") format("TrueType");
  font-weight: 400;
}
:root {
  --header-offset: 100px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

body,
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

svg,
img {
  max-width: 100%;
  vertical-align: middle;
}

img,
svg {
  vertical-align: middle;
}

button {
  border: none;
}

input:focus,
input {
  outline: none;
  box-shadow: none;
}

h1,
h2 {
  font-family: "Berton";
  line-height: 1.33;
  font-weight: 400;
}

h1 {
  font-size: 80px;
}
@media (max-width: 1024) {
  h1 {
    font-size: 68px;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 42px;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 60px;
}
@media (max-width: 992px) {
  h2 {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

h4 {
  font-size: 28px;
}
@media (max-width: 991px) {
  h4 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 18px;
  }
}

h5 {
  font-size: 24px;
}
@media (max-width: 992px) {
  h5 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  h5 {
    font-size: 16px;
  }
}

p {
  font-size: 20px;
}
@media (max-width: 992px) {
  p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  p {
    font-size: 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

@-webkit-keyframes path-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes path-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.svg-group {
  position: relative;
  display: inline-block;
}
.svg-group .svg-alt {
  position: absolute;
  left: 0;
  top: 0;
}

.rotate-infinite {
  transform-origin: center;
  -webkit-animation: path-rotate 7s infinite linear;
          animation: path-rotate 7s infinite linear;
  display: inline-block;
}

.flex-center-center, .up-comming-events .event-list .event .update-time, .event-hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-center-spaceBetween, .event-contact-area .inner-section, .up-comming-events .up-comming-header, .event-concept .inner-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: clamp(320px, 92%, 1730px);
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}

.container-alt {
  max-width: clamp(320px, 92%, 1658px);
  padding: 0 10px;
  margin: 0 auto !important;
}
@media (max-width: 575px) {
  .container-alt {
    max-width: 100%;
  }
}

.title-primary {
  font-size: 62px;
  text-transform: uppercase;
  position: relative;
  color: #2f2f2f;
}
@media (max-width: 1024px) {
  .title-primary {
    font-size: 68px;
  }
}
@media (max-width: 992px) {
  .title-primary {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .title-primary {
    font-size: 32px;
  }
}
@media (max-width: 575px) {
  .title-primary {
    font-size: 28px;
  }
}

.title-secondary {
  font-size: 60px;
  font-family: "poppins";
  font-weight: 200;
  display: block;
  color: #2f2f2f;
}
@media (max-width: 1024px) {
  .title-secondary {
    font-size: 66px;
  }
}
@media (max-width: 992px) {
  .title-secondary {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .title-secondary {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .title-secondary {
    font-size: 27px;
  }
}

.title__main {
  font-family: "Berton";
  font-size: 34px;
  font-weight: 400;
  line-height: 1.35;
}
@media (max-width: 1024px) {
  .title__main {
    font-size: 53px;
  }
}
@media (max-width: 992px) {
  .title__main {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .title__main {
    font-size: 20px;
  }
}

.title__sub {
  font-weight: 300;
  margin-bottom: 22px;
}
@media (max-width: 1024px) {
  .title__sub {
    font-size: 44px;
  }
}
@media (max-width: 992px) {
  .title__sub {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .title__sub {
    font-size: 17px;
  }
}

.dsc {
  font-size: 27px;
  line-height: 1.33;
  font-weight: 300;
  text-transform: capitalize;
  position: relative;
  color: #737373;
}
@media (max-width: 1024px) {
  .dsc {
    font-size: 42px;
  }
}
@media (max-width: 992px) {
  .dsc {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .dsc {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .dsc {
    font-size: 15px;
  }
}

.more-link {
  line-height: 1.32;
  font-weight: 300;
  font-size: 28px;
  font-style: italic;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .more-link {
    font-size: 36px;
  }
}
@media (max-width: 992px) {
  .more-link {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .more-link {
    font-size: 15px;
  }
}

.slice {
  position: absolute;
  background-color: #c4d979;
  z-index: -1;
}

.portrait {
  height: 200%;
  width: 65px;
  bottom: -15px;
}

.landscape {
  height: 30%;
  width: 20%;
  top: -15px;
}

.inner-wrapper {
  width: clamp(320px, 80%, 1520px);
  padding: 0 10px;
  margin: 0 auto;
}

@media (max-width: 1024px) and (min-width: 991px) {
  .hero-title {
    font-size: 88px;
  }
  .main-title {
    font-size: 72px;
  }
  .main-title-secondary {
    font-size: 70px;
  }
  .sub-title-primary {
    font-size: 42px;
  }
}
.top {
  padding: 190px 0 95px;
}
@media (max-width: 767px) {
  .top {
    padding: 95px 0 40px;
  }
}
@media (max-width: 575px) {
  .top {
    padding: 40px 0 20px;
  }
}

.middle {
  padding: 95px 0;
}
@media (max-width: 767px) {
  .middle {
    padding: 40px 0;
  }
}
@media (max-width: 575px) {
  .middle {
    padding: 20px 0;
  }
}

.bottom {
  padding: 95px 0 190px;
}
@media (max-width: 767px) {
  .bottom {
    padding: 40px 0 95px;
  }
}
@media (max-width: 575px) {
  .bottom {
    padding: 20px 0 40px;
  }
}

.event-hero {
  height: 100vh;
  position: relative;
  top: -100px;
}
.event-hero .bg-img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}
.event-hero .bg-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 8;
}
.event-hero .bg-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.event-hero .hero-title {
  color: #ffffff;
  z-index: 99;
}

.event-concept {
  padding: 190px 0 130px;
  position: relative;
}
@media (max-width: 768px) {
  .event-concept {
    padding: 90px 0;
  }
}
.event-concept .leaf {
  position: absolute;
  top: -40%;
  left: -35%;
  z-index: -1;
}
@media (max-width: 1180px) {
  .event-concept .leaf {
    top: -20%;
    left: -50%;
  }
}
.event-concept .inner-section {
  gap: clamp(50px, 12%, 120px);
}
@media (max-width: 1180px) {
  .event-concept .inner-section {
    flex-direction: column;
  }
}
.event-concept .inner-section .content {
  flex: 1;
}
.event-concept .inner-section .content .content__title {
  font-size: 52px;
  font-weight: 400;
  line-height: 1.34;
  font-family: "Berton";
  color: #2f2f2f;
  margin-bottom: 25px;
}
@media (max-width: 1180px) {
  .event-concept .inner-section .content .content__title {
    font-size: 62px;
  }
}
@media (max-width: 992px) {
  .event-concept .inner-section .content .content__title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .event-concept .inner-section .content .content__title {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  .event-concept .inner-section .content .content__title {
    font-size: 22px;
  }
}
.event-concept .inner-section .content .content__dec {
  font-size: 27px;
  font-weight: 300;
  line-height: 1.48;
  color: #737373;
  max-width: 680px;
}
@media (max-width: 1180px) {
  .event-concept .inner-section .content .content__dec {
    max-width: 930px;
  }
}
@media (max-width: 992px) {
  .event-concept .inner-section .content .content__dec {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .event-concept .inner-section .content .content__dec {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .event-concept .inner-section .content .content__dec {
    font-size: 14px;
  }
}
.event-concept .inner-section .content .content__dec .content__dsc {
  margin-top: 50px;
  display: block;
}
.event-concept .inner-section .concept-figute {
  flex: 1;
  margin-right: 65px;
  position: relative;
  z-index: 9;
}
@media (max-width: 1180px) {
  .event-concept .inner-section .concept-figute {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .event-concept .inner-section .concept-figute {
    margin-right: 50px;
  }
}
@media (max-width: 575px) {
  .event-concept .inner-section .concept-figute {
    margin-right: 8%;
  }
}
.event-concept .inner-section .concept-figute::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 70px;
  right: -65px;
  background-color: #f0f0f0;
  z-index: -1;
}
@media (max-width: 991px) {
  .event-concept .inner-section .concept-figute::before {
    right: -50px;
  }
}
@media (max-width: 575px) {
  .event-concept .inner-section .concept-figute::before {
    right: -10%;
    top: 30px;
  }
}

@font-face {
  font-family: "Berton";
  src: url("../fonts/Berton-Regular.otf") format("OpenType");
  font-weight: 400;
}
@font-face {
  font-family: "Vrinda";
  src: url("../fonts/Vrinda-Regular.ttf") format("TrueType");
  font-weight: 400;
}
:root {
  --header-offset: 100px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

body,
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

svg,
img {
  max-width: 100%;
  vertical-align: middle;
}

img,
svg {
  vertical-align: middle;
}

button {
  border: none;
}

input:focus,
input {
  outline: none;
  box-shadow: none;
}

h1,
h2 {
  font-family: "Berton";
  line-height: 1.33;
  font-weight: 400;
}

h1 {
  font-size: 80px;
}
@media (max-width: 1024) {
  h1 {
    font-size: 68px;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 42px;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 60px;
}
@media (max-width: 992px) {
  h2 {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

h4 {
  font-size: 28px;
}
@media (max-width: 991px) {
  h4 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 18px;
  }
}

h5 {
  font-size: 24px;
}
@media (max-width: 992px) {
  h5 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  h5 {
    font-size: 16px;
  }
}

p {
  font-size: 20px;
}
@media (max-width: 992px) {
  p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  p {
    font-size: 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

@keyframes path-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.svg-group {
  position: relative;
  display: inline-block;
}
.svg-group .svg-alt {
  position: absolute;
  left: 0;
  top: 0;
}

.rotate-infinite {
  transform-origin: center;
  -webkit-animation: path-rotate 7s infinite linear;
          animation: path-rotate 7s infinite linear;
  display: inline-block;
}

.flex-center-center, .up-comming-events .event-list .event .update-time, .event-hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-center-spaceBetween, .event-contact-area .inner-section, .up-comming-events .up-comming-header, .event-concept .inner-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: clamp(320px, 92%, 1730px);
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}

.container-alt {
  max-width: clamp(320px, 92%, 1658px);
  padding: 0 10px;
  margin: 0 auto !important;
}
@media (max-width: 575px) {
  .container-alt {
    max-width: 100%;
  }
}

.title-primary {
  font-size: 62px;
  text-transform: uppercase;
  position: relative;
  color: #2f2f2f;
}
@media (max-width: 1024px) {
  .title-primary {
    font-size: 68px;
  }
}
@media (max-width: 992px) {
  .title-primary {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .title-primary {
    font-size: 32px;
  }
}
@media (max-width: 575px) {
  .title-primary {
    font-size: 28px;
  }
}

.title-secondary {
  font-size: 60px;
  font-family: "poppins";
  font-weight: 200;
  display: block;
  color: #2f2f2f;
}
@media (max-width: 1024px) {
  .title-secondary {
    font-size: 66px;
  }
}
@media (max-width: 992px) {
  .title-secondary {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .title-secondary {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .title-secondary {
    font-size: 27px;
  }
}

.title__main {
  font-family: "Berton";
  font-size: 34px;
  font-weight: 400;
  line-height: 1.35;
}
@media (max-width: 1024px) {
  .title__main {
    font-size: 53px;
  }
}
@media (max-width: 992px) {
  .title__main {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .title__main {
    font-size: 20px;
  }
}

.title__sub {
  font-weight: 300;
  margin-bottom: 22px;
}
@media (max-width: 1024px) {
  .title__sub {
    font-size: 44px;
  }
}
@media (max-width: 992px) {
  .title__sub {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .title__sub {
    font-size: 17px;
  }
}

.dsc {
  font-size: 27px;
  line-height: 1.33;
  font-weight: 300;
  text-transform: capitalize;
  position: relative;
  color: #737373;
}
@media (max-width: 1024px) {
  .dsc {
    font-size: 42px;
  }
}
@media (max-width: 992px) {
  .dsc {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .dsc {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .dsc {
    font-size: 15px;
  }
}

.more-link {
  line-height: 1.32;
  font-weight: 300;
  font-size: 28px;
  font-style: italic;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .more-link {
    font-size: 36px;
  }
}
@media (max-width: 992px) {
  .more-link {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .more-link {
    font-size: 15px;
  }
}

.slice {
  position: absolute;
  background-color: #c4d979;
  z-index: -1;
}

.portrait {
  height: 200%;
  width: 65px;
  bottom: -15px;
}

.landscape {
  height: 30%;
  width: 20%;
  top: -15px;
}

.inner-wrapper {
  width: clamp(320px, 80%, 1520px);
  padding: 0 10px;
  margin: 0 auto;
}

@media (max-width: 1024px) and (min-width: 991px) {
  .hero-title {
    font-size: 88px;
  }
  .main-title {
    font-size: 72px;
  }
  .main-title-secondary {
    font-size: 70px;
  }
  .sub-title-primary {
    font-size: 42px;
  }
}
.top {
  padding: 190px 0 95px;
}
@media (max-width: 767px) {
  .top {
    padding: 95px 0 40px;
  }
}
@media (max-width: 575px) {
  .top {
    padding: 40px 0 20px;
  }
}

.middle {
  padding: 95px 0;
}
@media (max-width: 767px) {
  .middle {
    padding: 40px 0;
  }
}
@media (max-width: 575px) {
  .middle {
    padding: 20px 0;
  }
}

.bottom {
  padding: 95px 0 190px;
}
@media (max-width: 767px) {
  .bottom {
    padding: 40px 0 95px;
  }
}
@media (max-width: 575px) {
  .bottom {
    padding: 20px 0 40px;
  }
}

.up-comming-events {
  padding: 130px 0 240px;
}
@media (max-width: 768px) {
  .up-comming-events {
    padding: 80px 0;
  }
}
@media (max-width: 575px) {
  .up-comming-events {
    padding: 40px 0;
  }
}
.up-comming-events .up-comming-header {
  margin-bottom: 70px;
}
@media (max-width: 575px) {
  .up-comming-events .up-comming-header {
    margin-bottom: 30px;
  }
}
.up-comming-events .up-comming-header .title-area .title-primary {
  color: #2f2f2f;
}
.up-comming-events .up-comming-header .see-calendar .calendar-icon {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.up-comming-events .up-comming-header .see-calendar .text {
  font-weight: 500;
  line-height: 1.5;
  color: #2f2f2f;
}
.up-comming-events .event-list .event {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  padding: 23px;
  box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.16);
  -moz-column-gap: 65px;
       column-gap: 65px;
  position: relative;
}
@media (max-width: 1080px) {
  .up-comming-events .event-list .event {
    display: block;
  }
}
@media (max-width: 575px) {
  .up-comming-events .event-list .event {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.up-comming-events .event-list .event .event__figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% -50%;
     object-position: 50% -50%;
}
@media (max-width: 1080px) {
  .up-comming-events .event-list .event .event__figure {
    margin-bottom: 40px;
    max-height: 350px;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .up-comming-events .event-list .event .event__figure {
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .up-comming-events .event-list .event .event__details {
    margin-bottom: 30px;
  }
}
.up-comming-events .event-list .event .event__details .title .title__main {
  font-size: 29px;
  font-weight: 500;
  color: #2f2f2f;
  margin-bottom: 8px;
}
@media (max-width: 991px) {
  .up-comming-events .event-list .event .event__details .title .title__main {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .up-comming-events .event-list .event .event__details .title .title__main {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .up-comming-events .event-list .event .event__details .title .title__main {
    font-size: 17px;
  }
}
.up-comming-events .event-list .event .event__details .title__sub {
  font-size: 21px;
  font-weight: 500;
  color: #767676;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .up-comming-events .event-list .event .event__details .title__sub {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .up-comming-events .event-list .event .event__details .title__sub {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .up-comming-events .event-list .event .event__details .title__sub {
    font-size: 17px;
  }
}
.up-comming-events .event-list .event .event__details .event__dsc {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #707070;
  margin-bottom: 33px;
}
.up-comming-events .event-list .event .event__details .event__location span {
  margin-right: 8px;
}
.up-comming-events .event-list .event .update-time {
  flex-direction: column;
}
@media (max-width: 1080px) {
  .up-comming-events .event-list .event .update-time {
    position: absolute;
    top: 65%;
    right: 20px;
    transform: translateY(-65%);
  }
}
@media (max-width: 890px) {
  .up-comming-events .event-list .event .update-time {
    top: 60%;
    transform: translateY(-60%);
  }
}
@media (max-width: 575px) {
  .up-comming-events .event-list .event .update-time {
    position: relative;
    padding: 20px 0 0 20px;
    flex-direction: row;
    justify-content: start;
    gap: 15px;
  }
}
.up-comming-events .event-list .event .update-time .update-time__no {
  font-weight: 500;
  font-size: 40px;
  color: #2f2f2f;
  margin-bottom: 4px;
}
@media (max-width: 991px) {
  .up-comming-events .event-list .event .update-time .update-time__no {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .up-comming-events .event-list .event .update-time .update-time__no {
    font-size: 24px;
  }
}
@media (max-width: 575px) {
  .up-comming-events .event-list .event .update-time .update-time__no {
    font-size: 20px;
  }
}
.up-comming-events .event-list .event .update-time .update-time__text {
  color: #2f2f2f;
}

.slider {
  background-color: #272727;
  padding: 120px 0 115px;
}
@media (max-width: 767px) {
  .slider {
    padding: 80px 0;
  }
}
@media (max-width: 575px) {
  .slider {
    padding: 40px 0;
  }
}
.slider .slider__title {
  margin-bottom: 120px;
}
.slider .slider__title .title-primary {
  color: #ffffff;
}
@media (max-width: 767px) {
  .slider .slider__title .title-primary {
    margin-bottom: 60px;
  }
}
@media (max-width: 575px) {
  .slider .slider__title .title-primary {
    margin-bottom: 30px;
  }
}
.slider .slider__wrapper {
  width: 93%;
  margin-left: auto;
  overflow: hidden;
}
.slider .slider__wrapper .slick-list {
  margin: 0 -25px;
}
.slider .slider__wrapper .slick-list .slick-track {
  left: 17%;
}
@media (max-width: 575px) {
  .slider .slider__wrapper .slick-list .slick-track {
    left: 0;
  }
}
.slider .slider__wrapper .slick-list .slider-item {
  padding: 0 25px;
  color: #ffffff;
}
.slider .slider__wrapper .slick-list .slider-item .slider-item__figure {
  margin-bottom: 15px;
}
.slider .slider__wrapper .slick-list .slider-item .slider-item__figure img {
  width: 100%;
}
.slider .slider__wrapper .slick-list .slider-item .slider-item__title {
  font-size: 50px;
  font-family: "Berton";
  font-weight: 300;
  margin-bottom: 15px;
}
@media (max-width: 1024) {
  .slider .slider__wrapper .slick-list .slider-item .slider-item__title {
    font-size: 72px;
  }
}
@media (max-width: 991px) {
  .slider .slider__wrapper .slick-list .slider-item .slider-item__title {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .slider .slider__wrapper .slick-list .slider-item .slider-item__title {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  .slider .slider__wrapper .slick-list .slider-item .slider-item__title {
    font-size: 22px;
  }
}
.slider .slider__wrapper .slick-list .slider-item .slider-item__subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: 1024) {
  .slider .slider__wrapper .slick-list .slider-item .slider-item__subtitle {
    font-size: 36px;
  }
}
@media (max-width: 991px) {
  .slider .slider__wrapper .slick-list .slider-item .slider-item__subtitle {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .slider .slider__wrapper .slick-list .slider-item .slider-item__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .slider .slider__wrapper .slick-list .slider-item .slider-item__subtitle {
    font-size: 16px;
  }
}
.slider .slider__wrapper .slick-list .slider-item .slider-item__subtitle span {
  display: block;
  margin-top: 6px;
}
.slider .slider__wrapper .slick-next,
.slider .slider__wrapper .slick-prev {
  height: 70px;
  width: 70px;
  z-index: 99999;
  top: 35%;
}
.slider .slider__wrapper .slick-next::before,
.slider .slider__wrapper .slick-prev::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .slider .slider__wrapper .slick-next,
.slider .slider__wrapper .slick-prev {
    top: 70%;
  }
}
@media (max-width: 767px) {
  .slider .slider__wrapper .slick-next,
.slider .slider__wrapper .slick-prev {
    height: 48px;
    width: 48px;
  }
}
@media (max-width: 575px) {
  .slider .slider__wrapper .slick-next,
.slider .slider__wrapper .slick-prev {
    bottom: -35px;
    top: auto;
    height: 30px;
    width: 30px;
  }
}
.slider .slider__wrapper .slick-next {
  right: 70px;
}
.slider .slider__wrapper .slick-next::before {
  background-image: url("../assets/slide-right.svg");
}
.slider .slider__wrapper .slick-prev {
  left: 70px;
}
@media (max-width: 1024px) {
  .slider .slider__wrapper .slick-prev {
    right: 22%;
  }
}
@media (max-width: 575px) {
  .slider .slider__wrapper .slick-prev {
    right: 15%;
  }
}
.slider .slider__wrapper .slick-prev::before {
  background-image: url("../assets/left-slide.svg");
}

.input-name,
.input-email {
  width: 100%;
  padding: 15px 30px;
  border-radius: 10px;
  border: 1px solid #707070;
  margin-bottom: 45px;
  font-family: "montserrat";
}
.input-name::-moz-placeholder, .input-email::-moz-placeholder {
  color: #707070;
}
.input-name:-ms-input-placeholder, .input-email:-ms-input-placeholder {
  color: #707070;
}
.input-name::placeholder,
.input-email::placeholder {
  color: #707070;
}

.input-name,
.input-email,
.agreement-label {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.32;
}
@media (max-width: 1024px) {
  .input-name,
.input-email,
.agreement-label {
    font-size: 42px;
  }
}
@media (max-width: 992px) {
  .input-name,
.input-email,
.agreement-label {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .input-name,
.input-email,
.agreement-label {
    font-size: 18px;
  }
}

.agreement {
  display: flex;
}
.agreement .agreement-label {
  color: #707070;
  padding-left: 40px;
}
@media (max-width: 767px) {
  .agreement .agreement-label {
    padding-left: 15px;
  }
}

.input-name,
.input-email,
.submit-btn {
  display: block;
}

input[type=checkbox] {
  visibility: hidden;
  position: relative;
}
input[type=checkbox]::before {
  content: "";
  position: absolute;
  height: 36px;
  width: 36px;
  border-radius: 8px;
  border: 2px solid #707070;
  top: 2px;
  left: 0;
  visibility: visible;
}
@media (max-width: 992px) {
  input[type=checkbox]::before {
    height: 24px;
    width: 24px;
  }
}
@media (max-width: 767px) {
  input[type=checkbox]::before {
    top: 0;
    height: 18px;
    width: 18px;
    border-radius: 4px;
  }
}
input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 13px;
  width: 10px;
  height: 24px;
  border: solid #9eb255;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  visibility: visible;
}
@media (max-width: 992px) {
  input[type=checkbox]:checked::after {
    height: 15px;
    width: 6px;
    left: 9px;
  }
}
@media (max-width: 767px) {
  input[type=checkbox]:checked::after {
    border-width: 0 2px 2px 0;
    height: 10px;
    width: 5px;
    left: 7px;
    top: 3px;
  }
}

.submit-btn {
  margin: 45px auto 0;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #2f2f2f;
  text-transform: uppercase;
}

.event-contact-area {
  padding: 190px 0 120px;
  position: relative;
  z-index: 9;
}
@media (max-width: 768px) {
  .event-contact-area {
    padding: 70px 0 80px;
  }
}
.event-contact-area .leaf {
  position: absolute;
  top: 5%;
  right: -35%;
  z-index: -1;
}
@media (max-width: 1024px) {
  .event-contact-area .leaf {
    right: -60%;
  }
}
.event-contact-area .inner-section {
  gap: clamp(50px, 50%, 140px);
  padding: 0 32px;
}
@media (max-width: 1300px) {
  .event-contact-area .inner-section {
    gap: 50px;
  }
}
@media (max-width: 1180px) {
  .event-contact-area .inner-section {
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .event-contact-area .inner-section {
    padding: 0;
  }
}
.event-contact-area .inner-section .contact-form {
  padding: 0 8px;
  flex: 1;
}
.event-contact-area .inner-section .contact-form .contact-form__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.25;
  color: #2f2f2f;
  position: relative;
  margin-bottom: 100px;
  text-transform: uppercase;
  font-family: "Berton";
}
@media (max-width: 1180px) {
  .event-contact-area .inner-section .contact-form .contact-form__title {
    font-size: 64px;
  }
}
@media (max-width: 991px) {
  .event-contact-area .inner-section .contact-form .contact-form__title {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .event-contact-area .inner-section .contact-form .contact-form__title {
    font-size: 32px;
  }
}
.event-contact-area .inner-section .contact-form .contact-form__title .landscape {
  width: 50%;
  top: -15%;
  left: -15%;
  height: 25%;
}
.event-contact-area .inner-section .contact-form .contact-form__subtitle {
  font-size: 45px;
  font-weight: 200;
  line-height: 1.88;
  display: block;
  font-family: "poppins";
}
@media (max-width: 1180px) {
  .event-contact-area .inner-section .contact-form .contact-form__subtitle {
    font-size: 62px;
  }
}
@media (max-width: 991px) {
  .event-contact-area .inner-section .contact-form .contact-form__subtitle {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .event-contact-area .inner-section .contact-form .contact-form__subtitle {
    font-size: 30px;
  }
}
.event-contact-area .inner-section .contact-form .input-email {
  margin-bottom: 90px;
}
@media (max-width: 767px) {
  .event-contact-area .inner-section .contact-form .input-email {
    margin-top: 40px;
  }
}
.event-contact-area .inner-section .contact-form .submit-btn {
  margin-top: 95px;
}
@media (max-width: 767px) {
  .event-contact-area .inner-section .contact-form .submit-btn {
    margin-top: 40px;
  }
}
.event-contact-area .inner-section .contact-right-area {
  flex: 1;
  color: #2f2f2f;
}
.event-contact-area .inner-section .contact-right-area .title {
  font-size: 52px;
  font-weight: 400;
  line-height: 1.34;
  margin-bottom: 40px;
  font-family: "Berton";
}
@media (max-width: 1180px) {
  .event-contact-area .inner-section .contact-right-area .title {
    font-size: 72px;
  }
}
@media (max-width: 991px) {
  .event-contact-area .inner-section .contact-right-area .title {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .event-contact-area .inner-section .contact-right-area .title {
    font-size: 32px;
  }
}
.event-contact-area .inner-section .contact-right-area .contact-right__dsc {
  font-size: 25px;
  font-weight: 300;
  line-height: 1.52;
  margin-bottom: 35px;
}
@media (max-width: 1180px) {
  .event-contact-area .inner-section .contact-right-area .contact-right__dsc {
    font-size: 42px;
  }
}
@media (max-width: 991px) {
  .event-contact-area .inner-section .contact-right-area .contact-right__dsc {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .event-contact-area .inner-section .contact-right-area .contact-right__dsc {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .event-contact-area .inner-section .contact-right-area .contact-right__dsc {
    font-size: 18px;
  }
}
.event-contact-area .inner-section .contact-right-area .telephone {
  margin-top: 15px;
}
.event-contact-area .inner-section .contact-right-area .email,
.event-contact-area .inner-section .contact-right-area .telephone {
  font-weight: 400;
  display: block;
}
.event-contact-area .inner-section .contact-right-area .email .light,
.event-contact-area .inner-section .contact-right-area .telephone .light {
  font-weight: 300;
}/*# sourceMappingURL=event.css.map */