@font-face {
  font-family: "Berton";
  src: url("../fonts/Berton-Regular.otf") format("OpenType");
  font-weight: 400;
}
@font-face {
  font-family: "Vrinda";
  src: url("../fonts/Vrinda-Regular.ttf") format("TrueType");
  font-weight: 400;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  overflow-x: hidden;
  left: 1.33;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}

button {
  border: none;
}

input:focus,
input {
  outline: none;
  box-shadow: none;
}

h1,
h2 {
  font-family: "Berton";
  line-height: 1.33;
  font-weight: 400;
}

h1 {
  font-size: 80px;
}
@media (max-width: 992px) {
  h1 {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 60px;
}
@media (max-width: 992px) {
  h2 {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

h4 {
  font-size: 28px;
}
@media (max-width: 992px) {
  h4 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  h4 {
    font-size: 14px;
  }
}

h5 {
  font-size: 24px;
}
@media (max-width: 992px) {
  h5 {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  h5 {
    font-size: 13px;
  }
}

p {
  font-size: 20px;
}
@media (max-width: 992px) {
  p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  p {
    font-size: 13px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

@-webkit-keyframes path-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes path-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.svg-group {
  position: relative;
  display: inline-block;
}
.svg-group .svg-alt {
  position: absolute;
  left: 0;
  top: 0;
}

.rotate-infinite {
  transform-origin: center;
  -webkit-animation: path-rotate 7s infinite linear;
          animation: path-rotate 7s infinite linear;
  display: inline-block;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-center-spaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: clamp(320px, 92%, 1730px);
  padding: 0 10px;
  margin: 0 auto;
}

.container-alt {
  max-width: clamp(320px, 92%, 1658px);
  padding: 0 10px;
  margin: 0 auto;
}

.title-primary {
  font-size: 62px;
  text-transform: uppercase;
  position: relative;
  color: #2f2f2f;
}
@media (max-width: 1024px) {
  .title-primary {
    font-size: 68px;
  }
}
@media (max-width: 992px) {
  .title-primary {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .title-primary {
    font-size: 32px;
  }
}

.title-secondary {
  font-family: "poppins";
  font-weight: 200;
  display: block;
  color: #2f2f2f;
}
@media (max-width: 1024px) {
  .title-secondary {
    font-size: 66px;
  }
}
@media (max-width: 992px) {
  .title-secondary {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .title-secondary {
    font-size: 30px;
  }
}

.title__main {
  font-family: "Berton";
  font-size: 34px;
  font-weight: 400;
  line-height: 1.35;
}
@media (max-width: 1024px) {
  .title__main {
    font-size: 53px;
  }
}
@media (max-width: 992px) {
  .title__main {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .title__main {
    font-size: 20px;
  }
}

.title__sub {
  font-weight: 300;
  margin-bottom: 22px;
}
@media (max-width: 1024px) {
  .title__sub {
    font-size: 44px;
  }
}
@media (max-width: 992px) {
  .title__sub {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .title__sub {
    font-size: 17px;
  }
}

.dsc {
  line-height: 1.33;
  font-weight: 300;
  text-transform: capitalize;
  position: relative;
}
@media (max-width: 1024px) {
  .dsc {
    font-size: 42px;
  }
}
@media (max-width: 992px) {
  .dsc {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .dsc {
    font-size: 14px;
  }
}

.more-link {
  line-height: 1.32;
  font-weight: 300;
  font-size: 28px;
  font-style: italic;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .more-link {
    font-size: 36px;
  }
}
@media (max-width: 992px) {
  .more-link {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .more-link {
    font-size: 15px;
  }
}

.slice {
  position: absolute;
  background-color: #c4d979;
  z-index: -1;
}

.portrait {
  height: 200%;
  width: 65px;
  bottom: -15px;
}

.landscape {
  height: 30%;
  width: 20%;
  top: -15px;
}

.evento-internal__wrapper {
  width: clamp(320px, 80%, 1520px);
  padding: 0 10px;
  margin: 0 auto;
}

.event-internal-hero {
  padding-top: clamp(60px, 10%, 120px);
  padding-bottom: 45px;
}
.event-internal-hero .back-link {
  font-size: 20px;
  line-height: 1.35;
  font-weight: 400;
  color: #767676;
  margin-bottom: 30px;
  display: inline-block;
}
.event-internal-hero .back-link span {
  margin-right: 15px;
  vertical-align: text-top;
}
.event-internal-hero .title-secondary {
  font-family: "poppins";
  font-weight: 400;
}
.event-internal-hero .subtitle {
  font-weight: 300;
  font-size: 26px;
  color: #767676;
  margin-bottom: 40px;
}/*# sourceMappingURL=eventInternal.css.map */