@font-face {
  font-family: "Berton";
  src: url("../fonts/Berton-Regular.otf") format("OpenType");
  font-weight: 400;
}
@font-face {
  font-family: "Vrinda";
  src: url("../fonts/Vrinda-Regular.ttf") format("TrueType");
  font-weight: 400;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  overflow-x: hidden;
  left: 1.33;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

svg,
img {
  max-width: 100%;
  vertical-align: middle;
}

img,
svg {
  vertical-align: middle;
}

button {
  border: none;
}

input:focus,
input {
  outline: none;
  box-shadow: none;
}

h1,
h2 {
  font-family: "Berton";
  line-height: 1.33;
  font-weight: 400;
}

h1 {
  font-size: 80px;
}
@media (max-width: 992px) {
  h1 {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 60px;
}
@media (max-width: 992px) {
  h2 {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

h4 {
  font-size: 28px;
}
@media (max-width: 992px) {
  h4 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  h4 {
    font-size: 14px;
  }
}

h5 {
  font-size: 24px;
}
@media (max-width: 992px) {
  h5 {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  h5 {
    font-size: 13px;
  }
}

p {
  font-size: 20px;
}
@media (max-width: 992px) {
  p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  p {
    font-size: 13px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

@-webkit-keyframes path-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes path-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.svg-group {
  position: relative;
  display: inline-block;
}
.svg-group .svg-alt {
  position: absolute;
  left: 0;
  top: 0;
}

.rotate-infinite {
  transform-origin: center;
  -webkit-animation: path-rotate 7s infinite linear;
          animation: path-rotate 7s infinite linear;
  display: inline-block;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-center-spaceBetween, .design-wrapper .design {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: clamp(320px, 92%, 1730px);
  padding: 0 10px;
  margin: 0 auto;
}

.container-alt {
  max-width: clamp(320px, 92%, 1658px);
  padding: 0 10px;
  margin: 0 auto;
}

.title-primary {
  font-size: 62px;
  text-transform: uppercase;
  position: relative;
  color: #2f2f2f;
}
@media (max-width: 1024px) {
  .title-primary {
    font-size: 68px;
  }
}
@media (max-width: 992px) {
  .title-primary {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .title-primary {
    font-size: 32px;
  }
}

.title-secondary {
  font-family: "poppins";
  font-weight: 200;
  display: block;
  color: #2f2f2f;
}
@media (max-width: 1024px) {
  .title-secondary {
    font-size: 66px;
  }
}
@media (max-width: 992px) {
  .title-secondary {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .title-secondary {
    font-size: 30px;
  }
}

.title__main {
  font-family: "Berton";
  font-size: 34px;
  font-weight: 400;
  line-height: 1.35;
}
@media (max-width: 1024px) {
  .title__main {
    font-size: 53px;
  }
}
@media (max-width: 992px) {
  .title__main {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .title__main {
    font-size: 20px;
  }
}

.title__sub {
  font-weight: 300;
  margin-bottom: 22px;
}
@media (max-width: 1024px) {
  .title__sub {
    font-size: 44px;
  }
}
@media (max-width: 992px) {
  .title__sub {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .title__sub {
    font-size: 17px;
  }
}

.dsc {
  line-height: 1.33;
  font-weight: 300;
  text-transform: capitalize;
  position: relative;
}
@media (max-width: 1024px) {
  .dsc {
    font-size: 42px;
  }
}
@media (max-width: 992px) {
  .dsc {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .dsc {
    font-size: 14px;
  }
}

.more-link {
  line-height: 1.32;
  font-weight: 300;
  font-size: 28px;
  font-style: italic;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .more-link {
    font-size: 36px;
  }
}
@media (max-width: 992px) {
  .more-link {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .more-link {
    font-size: 15px;
  }
}

.slice {
  position: absolute;
  background-color: #c4d979;
  z-index: -1;
}

.portrait {
  height: 200%;
  width: 65px;
  bottom: -15px;
}

.landscape {
  height: 30%;
  width: 20%;
  top: -15px;
}

.evento-internal__wrapper {
  width: clamp(320px, 80%, 1520px);
  padding: 0 10px;
  margin: 0 auto;
}

.team-hero {
  padding: 210px 0 60px;
  position: relative;
  text-align: center;
  z-index: 9;
}
.team-hero .leaf {
  position: absolute;
  top: -70px;
  left: -255px;
  z-index: -1;
}
.team-hero .team-hero__title {
  color: #2f2f2f;
  margin-bottom: 93px;
  text-transform: uppercase;
}
.team-hero .dsc {
  color: #737373;
  font-size: 27px;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.team-hero .dsc .portrait {
  height: 110%;
  bottom: 15%;
}

.design-wrapper {
  padding-bottom: 190px;
}
.design-wrapper .design {
  margin-bottom: clamp(80px, 10%, 190px);
  -moz-column-gap: clamp(40px, 10%, 200px);
       column-gap: clamp(40px, 10%, 200px);
}
.design-wrapper .design .content {
  max-width: 50%;
}
.design-wrapper .design .content .design__title {
  position: relative;
  font-size: 52px;
  font-weight: 400;
  font-family: "Berton";
  color: #2f2f2f;
  line-height: 1.34;
  margin-bottom: 40px;
}
.design-wrapper .design .content .design__title .landscape {
  height: 25%;
  width: 40%;
  top: 85%;
  left: -10%;
}
.design-wrapper .design .content .title-primary {
  margin-bottom: 46px;
}
.design-wrapper .design:nth-child(even) {
  flex-direction: row-reverse;
}
.design-wrapper .design:last-child {
  margin-bottom: 0;
}
.design-wrapper .negative-space {
  margin-top: -250px;
  position: relative;
}

.team-members {
  padding: 190px 0 125px;
  background-color: #272727;
  border-bottom: 1px solid #737373;
}
.team-members .team-members__title {
  text-align: center;
  font-family: "Berton";
  font-weight: 400;
  line-height: 1.34;
  color: #ffffff;
  text-transform: uppercase;
}
.team-members .grid-area {
  margin-top: 135px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 70px;
}
.team-members .grid-area .team-member {
  padding: clamp(10px, 5%, 35px);
}
.team-members .grid-area .team-member .team-member__img {
  margin-bottom: 50px;
  display: inline-block;
  position: relative;
}
.team-members .grid-area .team-member .team-member__img .add-icon {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.team-members .grid-area .team-member .team-member__name a {
  font-size: 32px;
  color: #c4d979;
  line-height: 1.34;
  font-weight: 300;
}
@media (max-width: 1024px) {
  .team-members .grid-area .team-member .team-member__name a {
    font-size: 28px;
  }
}
@media (max-width: 992px) {
  .team-members .grid-area .team-member .team-member__name a {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .team-members .grid-area .team-member .team-member__name a {
    font-size: 15px;
  }
}
.team-members .grid-area .team-member .team-member__profession {
  font-size: 27px;
  font-weight: 400;
  line-height: 1.33;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .team-members .grid-area .team-member .team-member__profession {
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  .team-members .grid-area .team-member .team-member__profession {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .team-members .grid-area .team-member .team-member__profession {
    font-size: 13px;
  }
}/*# sourceMappingURL=team.css.map */