@font-face {
    font-family: "Berton";
    src: url("../fonts/Berton-Regular.otf") format("OpenType");
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "poppins";
    overflow-x: hidden;
    left: 1.33;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

img {
    vertical-align: middle;
}

button {
    border: none;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 60px;
}

h1,
h2 {
    font-family: "Berton";
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

p {
    font-size: 20px;
}
