// Base
@import "common/mixin";
@import "common/variable";
@import "common/default";
@import "common/util";

.apartment-title {
    h2 {
        color: $secondary-color-03;
    }
}

.aparetment-hero {
    position: relative;
    z-index: 99;
    figure {
        margin: 0;
        height: 100vh;
        width: 100vw;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hero-title {
        position: absolute;
        top: 120px;
        left: 50%;
        transform: translateX(-50%);

        h1 {
            color: #ffffff;
            font-size: 64px;
            font-weight: 400;
            z-index: 9;
            text-transform: uppercase;
            @include max-width(1024px) {
                font-size: 68px;
            }

            @include max-width(991px) {
                font-size: 48px;
            }

            @include max-width(767px) {
                font-size: 42px;
            }

            @include max-width(575px) {
                font-size: 36px;
            }

            span {
                display: block;
                text-align: center;
                line-height: 1.25;
            }

            span:last-child {
                font-size: 62px;
                font-weight: 200;
                font-family: "Poppins";
                @include max-width(1024px) {
                    font-size: 66px;
                }

                @include max-width(991px) {
                    font-size: 46px;
                }

                @include max-width(767px) {
                    font-size: 40px;
                }

                @include max-width(575px) {
                    font-size: 34px;
                }
            }
        }

        .bg-text {
            position: absolute;
            color: #ffffff;
            opacity: 0.5;
            font-size: 190px;
            font-weight: 700;
            line-height: 1;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 65%);
            white-space: nowrap;
            z-index: -1;
            @include max-width(767px) {
                font-size: 140px;
            }

            .sub {
                font-size: 70%;
                display: inline-block;
                position: relative;
                top: -70px;
            }
        }
    }

    .more-apartment {
        position: absolute;
        left: 70px;
        top: 50%;
        color: #ffffff;
        font-size: 28px;
        color: #ffffff;
        font-family: Poppins;
        font-weight: 300;
        display: inline-block;
        white-space: nowrap;
        @include max-width(1024px) {
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            text-align: center;
            font-size: 34px;
        }

        @include max-width(991px) {
            font-size: 27px;
        }

        @include max-width(767px) {
            font-size: 24px;
        }

        @include max-width(575px) {
            font-size: 20px;
        }

        span {
            display: block;
        }
    }

    .scroll-next {
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        @include max-width(767px) {
            height: 100px;
            width: 100px;
        }
    }
}

.apartment-intro {
    position: relative;
    padding: 230px 0;

    .figure {
        .figure__text {
            font-size: 420px;
            font-weight: 500;
            line-height: 1;
            position: absolute;
            color: #707070;
            opacity: 0.7;
            top: 50%;
            left: -75px;
            transform: translateY(calc(-50% - 0px));
            z-index: 9999;
            .sub {
                font-size: 70%;
                display: inline-block;
                position: relative;
                top: -140px;
            }
        }
    }

    .apartment-intro-content {
        max-width: 55%;
        margin-left: auto;
        padding-right: 60px;
        @include max-width(1080px) {
            padding: 0;
        }

        @include max-width(991px) {
            max-width: 100%;
            margin-top: 150px;
        }

        h2 {
            color: $secondary-color-03;
            margin-bottom: 40px;

            .has-border {
                display: inline-block;
                position: relative;
                &::before {
                    background-color: $primary-color-02;
                    width: 120%;
                    height: 56px;
                    position: absolute;
                    content: "";
                    z-index: -1;
                    right: 0;
                    top: -15px;
                }
            }
        }

        p {
            font-weight: 300;
            font-size: 28px;
            margin-bottom: 0;
            @include max-width(991px) {
                font-size: 32px;
            }

            @include max-width(767px) {
                font-size: 24px;
            }

            @include max-width(575px) {
                font-size: 18px;
            }
        }
    }
}

.apartment-figure-block {
    height: 535px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.apartment-features {
    padding-top: 240px;
    .title {
        padding-left: 70px;
        &.has-border {
            position: relative;
            &:before {
                content: "";
                height: 58px;
                width: 500px;
                left: 210px;
                background-color: #c4d979;
                position: absolute;
                top: -15px;
                z-index: -1;
                transform: translateX(-100%);
            }
        }

        h2 {
            margin-bottom: 80px;
            color: $secondary-color-03;
        }
    }

    .features-list {
        position: relative;
        padding-left: 70px;

        .shape-ovelay {
            position: absolute;
            width: 500px;
            right: -186px;
            top: -98px;
            z-index: -1;
        }

        ul {
            max-width: 950px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 250px;
            grid-row-gap: 90px;
            z-index: 99;
            @include max-width(991px) {
                column-gap: 120px;
            }

            @include max-width(575px) {
                grid-template-columns: 1fr;
            }

            li {
                h3 {
                    color: #2f2f2f;
                    font-size: 32px;
                    text-transform: uppercase;
                    font-weight: 300;
                    margin: 10px 0;
                    @include max-width(991px) {
                        font-size: 38px;
                    }

                    @include max-width(767px) {
                        font-size: 30px;
                    }

                    @include max-width(575px) {
                        font-size: 24px;
                    }
                }

                p {
                    font-size: 28px;
                    font-weight: 400;
                    color: #737373;
                    @include max-width(991px) {
                        font-size: 34px;
                    }

                    @include max-width(767px) {
                        font-size: 24px;
                    }

                    @include max-width(575px) {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.apartment-gallery {
    padding-top: 140px;
    padding-left: 8%;

    @include max-width(1023px) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .slick-slide {
        @include min-width(1024px) {
            margin: 0 30px;
            width: 620px;
        }

        @include max-width(1024px) {
            padding: 0 15px;
        }
    }

    .slick-prev {
        display: none;
    }

    .slick-next {
        right: 70px;
        z-index: 9999;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        border: 2px solid #f1f1f1;
        &:before {
            content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNy44NTIiIGhlaWdodD0iMzYuNjk4IiB2aWV3Qm94PSIwIDAgMzcuODUyIDM2LjY5OCI+DQogIDxnIGlkPSJHcm91cF8xMjEwIiBkYXRhLW5hbWU9Ikdyb3VwIDEyMTAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEgMS40MTQpIj4NCiAgICA8bGluZSBpZD0iTGluZV81IiBkYXRhLW5hbWU9IkxpbmUgNSIgeDI9IjM1LjQzOCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAxNi45MzUpIiBmaWxsPSJub25lIiBzdHJva2U9IiNmMWYxZjEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIi8+DQogICAgPGxpbmUgaWQ9IkxpbmVfNiIgZGF0YS1uYW1lPSJMaW5lIDYiIHgxPSIxNi45MzUiIHkxPSIxNi45MzUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE4LjUwMykiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2YxZjFmMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiLz4NCiAgICA8bGluZSBpZD0iTGluZV83IiBkYXRhLW5hbWU9IkxpbmUgNyIgeDE9IjE2LjkzNSIgeTI9IjE2LjkzNSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTguNTAzIDE2LjkzNSkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2YxZjFmMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiLz4NCiAgPC9nPg0KPC9zdmc+DQo=);
            opacity: 1;
        }
    }

    .slider-progress {
        display: flex;
        align-items: center;
        font-size: 28px;
        color: #707070;
        margin-top: 20px;
        @include max-width(991px) {
            font-size: 34px;
        }

        @include max-width(767px) {
            font-size: 28px;
        }

        @include max-width(575px) {
            font-size: 22px;
        }

        span {
            width: 63px;
            height: 2px;
            background-color: #707070;
            display: inline-block;
            margin: 0 15px;
        }
    }
}

.apartment-map {
    padding: 190px 0 100px;

    .slider-progress {
        display: flex;
        align-items: center;
        font-size: 28px;
        color: #707070;
        margin-top: 20px;
        justify-content: flex-end;
        padding-right: 22px;
        @include max-width(991px) {
            font-size: 34px;
        }

        @include max-width(767px) {
            font-size: 28px;
        }

        @include max-width(575px) {
            font-size: 22px;
        }

        span {
            display: inline-block;
            margin: 0 5px;
        }
    }

    .apartment-map__gallery {
        margin-top: -100px;
        display: flex;
        width: 100%;
        align-items: center;
        @include max-width(991px) {
            flex-direction: column;
            margin-top: 30px;
        }

        .apartment-map__gallery__info {
            flex: 0 0 40%;
            max-width: 40%;
            @include max-width(991px) {
                width: 100%;
                max-width: 100%;
            }
        }

        .apartment-map__gallery__slides {
            flex: 0 0 60%;
            max-width: 60%;
            @include max-width(991px) {
                width: 100%;
                max-width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.more-spaces {
    background-color: #272727;
    padding-top: 190px;
    border-bottom: 1px solid #737373;
    position: relative;

    .shape-top {
        position: absolute;
        width: 580px;
        top: 30px;
        left: -7%;
        @include max-width(991px) {
            width: 400px;
        }
    }

    .title {
        h2 {
            color: #ffffff;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 120px;
            font-weight: 400;
            font-family: "Berton";
        }
    }

    .more-spaces-gallery {
        img {
            width: 100%;
            vertical-align: middle;
        }

        .slick-slide {
            margin: 0 10px;
            width: calc(100vw - 80px);
        }

        .more-spaces-gallery__item {
            position: relative;
            @include max-width(1024px) {
                height: 400px;
            }

            @include max-width(676px) {
                height: 300px;
            }

            @include max-width(575px) {
                height: 240px;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .text {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                color: #ffffff;
                z-index: 9999999;
                text-align: center;
                span {
                    display: block;
                    font-size: 38px;
                    margin-bottom: 5px;
                    text-transform: uppercase;
                    @include max-width(991px) {
                        font-size: 46px;
                    }

                    @include max-width(767px) {
                        font-size: 32px;
                    }

                    @include max-width(575px) {
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .ver-todos {
        padding-top: 120px;
        padding-bottom: 90px;
        text-align: center;
        @include max-width(991px) {
            // padding-top: 0;
        }

        &.a {
            position: relative;
            display: inline-block;
        }

        .text {
            display: block;
            color: #ffffff;
            font-size: 28px;
            font-style: italic;
            font-weight: 300;
            margin-top: 25px;
            text-decoration: underline;
            @include max-width(991px) {
                font-size: 34px;
            }

            @include max-width(767px) {
                font-size: 28px;
            }

            @include max-width(575px) {
                font-size: 22px;
            }
        }
    }
}

// Style 1
.style-1 {
    .apartment-intro {
        .figure {
            .figure__text {
                @include max-width(1080px) {
                    top: 20%;
                }
            }

            img {
                width: 584px;
                position: absolute;
                left: -120px;
                top: 50%;
                transform: translateY(-50%);
                @include max-width(1080px) {
                    width: 450px;
                    top: 20%;
                }
            }
        }
    }

    .apartment-features {
        .features-list {
            &:before {
                content: "";
                height: 293px;
                width: 293px;
                border-radius: 50%;
                position: absolute;
                background-color: $primary-color-02;
                right: 0px;
                top: -10px;
                z-index: -1;
            }
        }
    }
}

.style-2 {
    .apartment-intro {
        .figure {
            .figure__text {
                @include max-width(1080px) {
                    top: 20%;
                }
            }

            img {
                width: 700px;
                position: absolute;
                left: -240px;
                top: 320px;
                transform: translateY(-50%);
                @include max-width(1080px) {
                    width: 540px;
                    top: 15%;
                }
            }
        }

        .apartment-intro-content {
            .title {
                position: relative;

                &::before {
                    height: 250px;
                    width: 250px;
                    background-color: $primary-color-02;
                    content: "";
                    position: absolute;
                    border-radius: 50%;
                    right: -70px;
                    z-index: -1;
                }
            }
        }
    }

    .apartment-features {
        .title {
            position: relative;
            &:before {
                content: "";
                height: 58px;
                width: 500px;
                left: 210px;
                background-color: #c4d979;
                position: absolute;
                top: -15px;
                z-index: -1;
                transform: translateX(-100%);
            }
        }

        .features-list {
            .shape-ovelay {
                width: 600px;
                right: -290px;
                top: -98px;
            }
        }
    }
}

.style-3 {
    .apartment-intro {
        .figure {
            .figure__text {
                @include max-width(1080px) {
                    top: 20%;
                    font-size: 360px;
                }
            }

            img {
                width: 584px;
                position: absolute;
                left: -120px;
                top: 50%;
                transform: translateY(-50%);
                @include max-width(1080px) {
                    width: 540px;
                    top: 15%;
                    left: -20%;
                }
            }
        }
    }

    .apartment-intro-content {
        position: relative;
        &::before {
            background-color: $primary-color-02;
            width: 56px;
            height: calc(100% + 70px);
            position: absolute;
            content: "";
            z-index: -1;
            right: 60px;
            bottom: -10px;
            @include max-width(991px) {
                height: 55%;
                bottom: 10%;
                right: -2%;
            }
        }
    }

    .apartment-features {
        position: relative;
        &:before {
            content: "";
            height: 293px;
            width: 293px;
            border-radius: 50%;
            position: absolute;
            background-color: $primary-color-02;
            right: -40px;
            top: 220px;
        }
    }
}

.style-4 {
    .apartment-intro {
        .figure {
            .figure__text {
                @include max-width(1450px) {
                    font-size: 320px;
                    left: -3%;
                }

                @include max-width(1080px) {
                    top: 20%;
                }
            }

            img {
                width: 584px;
                position: absolute;
                left: -120px;
                top: 50%;
                transform: translateY(-50%);
                @include max-width(1080px) {
                    width: 540px;
                    top: 20%;
                    left: -20%;
                }
            }
        }

        &::before {
            height: 250px;
            width: 250px;
            background-color: $primary-color-02;
            border-radius: 50%;
            position: absolute;
            right: -40px;
            z-index: 99;
            top: 113px;
            content: "";
            z-index: -1;
        }
    }

    .apartment-features {
        padding-top: 340px;
        .title {
            h2 {
                position: relative;
                &:before {
                    content: "";
                    height: 430px;
                    width: 80px;
                    left: 30px;
                    background-color: #c4d979;
                    position: absolute;
                    bottom: -30px;
                    z-index: -1;
                    transform: translateX(-100%);
                }
            }
        }

        // .features-list {
        //     .shape-ovelay {
        //         width: 600px;
        //         right: -290px;
        //         top: -98px;
        //     }
        // }
    }
}
