// Base
@import "common/mixin";
@import "common/variable";
@import "common/default";
@import "common/util";

.apartments-list {
    padding-top: 140px;
    .slick-slide {
        padding: 0 25px;
        @include max-width(1024px){
            padding: 0 20px;
        }
        &:nth-child(2n + 1){
            padding: 30px 45px 0;
            @include max-width(1024px){
                padding: 25px 40px 0;
            }
            @include max-width(767px){
                padding: 30px 45px 0;
            }
            @include max-width(575px){
                padding: 0 20px;
            }
        }
    }
}

.apartment-carousel__item {
    .apartment-carousel__title{
        @include max-width(1024px){
            text-align: center;
        }
    }
    h1 {
        font-size: 42px;
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: 12px;
        color: $secondary-color-01;
        @include max-width(1024px){
            font-size: 52px;
        }
        @include max-width(991px){
            font-size: 38px;
        }
        @include max-width(767px){
            font-size: 34px;
        }
        @include max-width(575px){
            font-size: 30px;
        }
        span {
            font-family: "Poppins";
            font-weight: 200;
            display: block;
            font-size: 40px;
            @include max-width(1024px){
                font-size: 50px;
            }
            @include max-width(991px){
                font-size: 36px;
            }
            @include max-width(767px){
                font-size: 32px;
            }
            @include max-width(575px){
                font-size: 28px;
            }
        }
    }

    .category{
        margin-top: 10px;
        font-size: 30px;
        color: $secondary-color-03;
        opacity: .7;
        font-weight: 300;
        text-align: right;
    }

    figure {
        margin: 0;
        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }

    // &.even {
    //     padding-top: 25px;
    //     figure {
    //         padding: 0px 15px;
    //     }

    //     .apartment-carousel__title {
    //         padding: 0 15px;
    //     }

    //     h4{
    //         padding-right: 15px;
    //     }
    // }
}
.apartment-carousel__text{
    text-align: center;
    padding: 0 15px;
    margin-top: 15px;
    .apartment-carousel__title{
        font-size: 32px;
        margin-bottom: 5px;
        font-weight: 300;
        line-height: 1.5;
        color: $secondary-color-03;
        text-transform: uppercase;
        @include max-width(1024px){
            font-size: 42px;
        }
        @include max-width(991px){
            font-size: 30px;
        }
        @include max-width(767px){
            font-size: 28px;
        }
    }
    .apartment-carousel__subtitle{
        font-size: 24px;
        font-weight: 300;
        line-height: 1.5;
        color: $secondary-color-03;
        @include max-width(1024px){
            font-size: 30px;
        }
        @include max-width(991px){
            font-size: 22px;
        }
        @include max-width(767px){
            font-size: 20px;
        }
        @include max-width(575px){
            font-size: 18px;
        }

    }
}

.apartments-footer {
    padding: 27px 0;
    .container-alt {
       @extend .flex-center-spaceBetween;
        ul {
            display: flex;
            li{
                margin-right: 40px;
                @include max-width(575px){
                    margin-right: 20px;
                }
            }
            @include max-width(575px){
                a{
                    svg{
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }

        p {
            color: #737373;
            text-transform: uppercase;
            font-size: 24px;
        }
    }
}
