// Base
@import "common/mixin";
@import "common/variable";
@import "common/default";
@import "common/util";
.apartments-footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 25px 0;
    .container-alt {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            li {
                margin-right: 40px;
            }
        }

        p {
            color: #737373;
            text-transform: uppercase;
            font-size: 24px;
        }
    }
}
